[2021-08-05 03:19] pydanny opened #1 "Thank you page needs to be improved"
Doesn't give enough of a thank you for a donation that may change lives.

![Screen Shot 2021-08-04 at 8 17 13 PM](https://user-images.githubusercontent.com/62857/128285502-76c12698-dd4f-43b7-ad6b-e88c4684fba2.png)

[2021-08-05 03:20] pydanny opened #2 "Set up a unit testing framework with a starter unit test"
We could use help setting up unit testing in this project.

Everyone, what are your favorite JS unit testing framework(s)?

[2021-08-05 16:25] audreyfeldroy commented on #1
Thanks for creating that stub page @pydanny, it really helped. I just iterated on it, see https://helpafamily.margaritahumanitarian.org/thank-you

But it could still use more improvements. I'm leaving this issue open in case any volunteers feel inspired to improve it more.

[2021-08-05 16:28] audreyfeldroy opened #4 "Slack preview link of Thank You page has a weird "A" after the title"
Here's a screenshot showing the weird "A":

![ 2021-08-05 at 09 28 08](https://user-images.githubusercontent.com/74739/128386529-cc21e511-a43b-44a6-9554-12d32bd197f1.png)

[2021-08-09 02:29] audreyfeldroy commented on #4
Fixed by @pomf1 in #5. Pomf, your pull request meant the world to us, thank you! 🙏

[2021-08-09 02:29] #4 closed

[2021-08-09 02:34] audreyfeldroy opened #6 "Convert causes from radio buttons to checkboxes"
On https://helpafamily.margaritahumanitarian.org/ these radio buttons would be better as checkboxes, allowing donors to support more than one cause if they wish.

<img width="417" alt=" 2021-08-08 at 19 30 51" src="https://user-images.githubusercontent.com/74739/128654888-dc6ae637-a2e7-4458-8a4e-c848fdb900de.png">

To implement this, use the `Form-Checkbox` daisyUI Tailwind CSS component: https://

[2021-08-11 14:29] audreyfeldroy opened #8 "Store radio button selection in Stripe"
Currently when people select a radio button like "Students in Need", the selection isn't saved in Stripe yet.

This bug blocks us from promoting the site at all: we can't ask people to donate if we're not saving their donation selection.

Requirements:

- [ ] The selected radio button must be saved as some sort of metadata in Stripe. Possibly PaymentIntent object metadata? https://stripe.com/docs/

[2021-08-11 14:42] audreyfeldroy opened #9 "Help us get sponsored hosting from Vercel"
While we really love Netlify, this is a Next.js project and Vercel could potentially be a better fit for it.

This open-source project and forthcoming ones from Margarita Humanitarian Foundation could potentially grow as big as our other past projects (e.g. [Cookiecutter](https://github.com/cookiecutter/cookiecutter) has 15k+ GitHub stars) with many volunteers.

Vercel's $20 per-member pricing is

[2021-08-11 14:53] audreyfeldroy opened #10 "Add card for Hot Meal Day"
Card title: Hot Meal Day

Card text: Buy ingredients for 1 hot meal for 60 hungry people. Sample meals include spaghetti with Texas toast and caesar salad, chicken alfredo, enchilada taquitos. Served as take-home meal boxes at Grace Resources in Lancaster, California.

Card button: Feed 60 people for $250

Feel free to revise the text to fit better in a card, or generally to be more considerate/ki

[2021-08-11 15:18] audreyfeldroy opened #11 "Add card for Health Education Workshop"
## Card title:
Health Education Workshop

## Card text:
Produce 1 free health education workshop for an audience who urgently needs it, particularly for a community who faces major disparities in health conditions and care such as people of color, elders, young mothers including teen mothers, migrant workers, low-income families, foster families, unhoused families, and families of incarcerated par

[2021-08-11 15:23] audreyfeldroy opened #12 "Stretch background image to fit window"
Currently at some browser window widths, white bars are added to the left and right of the background image of the margarita daisy.

<img width="1409" alt=" 2021-08-11 at 08 21 43" src="https://user-images.githubusercontent.com/74739/129057016-0fa71779-e222-40c9-b07e-11b5b7f9346d.png">

I'm thinking the image should scale to 100% width with the bottom cropped off, though I'm flexible on that imple

[2021-08-11 15:25] Sukhamjot-Singh commented on #11
I would like to work on this issue.
Thank You.

[2021-08-11 15:29] audreyfeldroy opened #13 "Improve the text on the Hygiene Kits card"
In this card, the button should show the price, e.g. "96 HYGIENE KITS FOR $153"

That would make it more obvious that for as little as $153 you can help 96 people.

It might also help to provide more motivation, e.g. Each hygiene kit allows an unhoused individual to freshen up and feel more confident about their hygiene for work, school, or even just to have a better day.

<img width="467" alt=" 2

[2021-08-11 15:30] audreyfeldroy opened #14 "Improve design in any way"
This issue is a general invitation to anyone to submit pull requests that improve the design of the site in any way.

Tiny incremental improvements are best: find a design tweak that makes the site 1-5% better, and submit a PR for it. That will allow us to review your changes and merge them in quickly.

[2021-08-11 15:34] audreyfeldroy commented on #11
That would be a huge help, thank you @Sukhamjot-Singh. Try it out and let us know if you need help in any way.

[2021-08-11 16:13] audreyfeldroy opened #16 "Improve code in any way"
This is an open invitation to everyone to improve the code in any way.

@pydanny and I are relatively new to Next.js and React and still learning best practices, so I'm sure there are things that could be refactored or improved for better maintainability.

Tiny, atomic PRs make it easiest for us to understand code changes and would be so greatly appreciated.

[2021-08-11 18:16] audreyfeldroy commented on #11
Merged, really appreciate your help!

[2021-08-11 18:16] #11 closed

[2021-08-12 04:40] #13 closed

[2021-08-12 14:18] audreyfeldroy opened #19 "Code cleanup: remove outer <div> elements?"
While reviewing #18 I realized that I had unintentionally started a pattern in `HygieneKitsCard.js` of wrapping cards in an empty outer `<div>`.

Is it best practice in React and/or Next.js to have a clean, class-free div wrapping everything? Or is it extraneous since the subsequent `<div className="card lg:card-side bordered">` already wraps everything?

For this issue:

- [ ] Comment with your t

[2021-08-12 15:33] audreyfeldroy opened #20 "Sort cards from smallest to largest donation cost"
To start, send a PR that moves the Hot Meal Day card above the Health Education Workshop card.

After that, think about how we can implement automatic sorting of cards by price. There's zero obligation to work on this beyond that initial PR, but if you're interested, post ideas here. Or email me at audrey@mhfcares.org for an invite to our Slack text chat or Topia video chat.

[2021-08-12 15:51] audreyfeldroy opened #21 "Make HygieneKitsCard.js into a component"
We could really use help from someone with a passion for coding best practices:

- [ ] Read up on React and Next.js component best practices, e.g. https://blog.bitsrc.io/structuring-a-react-project-a-definitive-guide-ac9a754df5eb
- [x] Move HygieneKitsCard.js from pages/ to components/
- [x] Make any other changes needed to follow best practices for that component

[2021-08-12 16:39] Sukhamjot-Singh commented on #19
I believe there is no need for that extra <div> element.
I can remove all the outer div elements and sumbit the PR.

[2021-08-13 00:29] audreyfeldroy commented on #19
A PR for this would be very helpful, thank you @Sukhamjot-Singh!

[2021-08-13 08:47] #19 closed

[2021-08-13 08:47] #21 closed

[2021-08-13 08:51] audreyfeldroy opened #24 "Move cards from pages/ to components/"
Following the pattern that @Sukhamjot-Singh kindly set up of putting HygieneKitsCard.js in a `components/` folder:

- [x] Move HealthWorkshopCard.js and HotMealDayCard.js from `pages/` to `components/`
- [x] Update imports and check that the site still works

[2021-08-13 08:53] #10 closed

[2021-08-13 09:43] audreyfeldroy opened #27 "Fix issues identified by DeepSource"
I ran the DeepSource analyzer to find issues with our codebase. The results are at https://deepsource.io/gh/margaritahumanitarian/helpafamily/

We could use PRs to fix any of the issues identified in that report.

[2021-08-13 09:58] Sukhamjot-Singh commented on #20
PR #28 solves the primary task.
About the sorting,
As we have hard coded the cards , the price that is inside the components cannot be retrieved to sort them.
I can work on any suggestions from you.

[2021-08-13 10:00] Sukhamjot-Singh commented on #24
I also took the liberty to move MainDonationForm.js to components in PR #28.

[2021-08-13 10:00] audreyfeldroy commented on #24
We really appreciate it, thank you @Sukhamjot-Singh!

[2021-08-13 10:00] #24 closed

[2021-08-13 10:08] audreyfeldroy commented on #20
Thank you for #28 @Sukhamjot-Singh!

About sorting, one possibility is to refactor strings from each card into something like a `data/cards.js`.

https://www.pluralsight.com/guides/load-and-render-json-data-into-react-components has a good example of it. Search the article for "data.js".

I'm flexible with other approaches, though.

[2021-08-13 10:15] audreyfeldroy opened #29 "Add smaller donation levels to MainDonationForm.js"
Add a $5 and a $25 donation level as options in the main donation form.

[2021-08-13 10:38] Sukhamjot-Singh commented on #20
I will check this link out and try to work on the issue.

[2021-08-13 14:26] Sukhamjot-Singh commented on #20
Well I have an easy solution for it.
I can create a list of cards and their amounts.
I will sort that list according to their respective amounts and render the components.

`const ListOfCards = [
  {
    card: <HealthWorkshopCard />,
    amount: 5000,
  },
  {
    card: <HygieneKitsCard />,
    amount: 153,
  },
  {
    card: <HotMealDayCard />,
    amount: 250,
  },

];`

[2021-08-13 17:09] audreyfeldroy commented on #20
That sounds good @Sukhamjot-Singh. Try it and let me know how it goes. Happy to help if you get stuck on anything.

[2021-08-13 19:41] seth-reeise commented on #29
I submitted a pull request for this issue. This is my first pull request contributing to open source, any feedback is appreciated.

[2021-08-13 22:34] GrungeKarma commented on #12
I submitted a pull request for this issue. Please let me know if you have any feedback.

[2021-08-14 16:17] pydanny commented on #29
We appreciate that this PR was small and focused on one ticket. The term for that is "atomic". 😄  ⚛️

[2021-08-14 16:17] #29 closed

[2021-08-14 17:18] #20 closed

[2021-08-14 17:18] audreyfeldroy commented on #20
This is done and merged, thanks to @Sukhamjot-Singh!

[2021-08-14 17:25] audreyfeldroy commented on #12
This is complete: thanks @GrungeKarma for the PR and @pydanny for the review and merge!

[2021-08-14 17:25] #12 closed

[2021-08-14 17:56] audreyfeldroy opened #33 "Multi-column card layout"
Eventually there will probably be 9+ cards, each featuring a different way to help families in need.

Putting 2-4 cards in each row would improve readability. We could use help converting the layout from single-column to multi-column.

Here are some ideas on how to get started with this issue:

* Study the 3 side-by-side card example in [daisyUI's Card docs](https://daisyui.com/components/card)
*

[2021-08-14 21:17] GrungeKarma commented on #33
I would be happy to take a look when I get some free time. Probably late tonight or tomorrow. Funny that you should say you are still learning Tailwind, I am learning it as well.

[2021-08-14 22:10] audreyfeldroy opened #34 "Card for Laptops for Families"
Card title: Laptop for Families

Card description: Mail us a used or new laptop. We'll set up some donated laptops in our public computer room for families to use for free. Other donated laptops will go to families who don't have home computers, or who don't have enough computers for all their children to use.

(Feel free to revise the text to look better in a card, or to sound better.)

For this

[2021-08-14 23:46] audreyfeldroy opened #35 "Shorten text on Health Workshop card"
The text is a bit too long compared to the other cards and looks awkward. Cut out parts of it to tighten and strengthen the language so the card looks better.

[2021-08-14 23:50] audreyfeldroy opened #36 "Change Health Workshop card to be per seat"
To improve the health workshop card, it would be nice to make the price per seat rather than per workshop.

[2021-08-15 00:03] GrungeKarma commented on #33
I am seeing an issue as this project moves forward. I am thinking we need to standardize the card size on a component level. As it sits, when I try to adjust the layout of the cards it looks bad because of the different card hights due to the different lengths of text in each card. It may be better to control the size of the cards directly so we can predict how they will act with flexbox. It would

[2021-08-15 08:20] audreyfeldroy opened #37 "Fall Prevention for Elders Card"
Following the pattern of the other cards, create a new card:

Fall Prevention for Elders

Provide one free, life-saving 6-week fall prevention class to an elderly person at high risk of falls.

Covers costs like insurance to meet city senior center requirements, and curriculum development and review.

1 class seat for $100

[2021-08-15 08:41] audreyfeldroy commented on #33
I agree. If it helps, you can truncate the card text for now or cut out sentences.

[2021-08-15 08:54] audreyfeldroy opened #38 "Implement uniform card heights"
The problem has been described well by @GrungeKarma in #33:

Any solution that addresses this would be great, such as:

- Add a description length for each explanation and include a button for more information that brings up the expanded explanation as a popup or a separate page.
- Break up card description into short description and long description, where long description is shown only when you

[2021-08-15 09:02] audreyfeldroy opened #39 "Add MHF logo to main page"
The MHF logo is the globe with the heart, found at https://github.com/margaritahumanitarian

- [ ] Add this to the page somewhere.
- [ ] Have it link to  https://www.margaritahumanitarian.org/

[2021-08-15 09:19] audreyfeldroy opened #40 "Add text about 501(c)(3) registration"
Add text somewhere on the page saying:

It can be anywhere that you think looks good, such as:

- In a footer
- Below the page header somewhere

[2021-08-15 16:34] riyaku11 commented on #39
can i work on this issue?

[2021-08-15 17:17] Vaibhav9892 commented on #40
I would really love to work on this issue.
Can I please work on it?

[2021-08-15 22:19] audreyfeldroy opened #43 "DeepSource checks are failing incorrectly"
DeepSource is a really amazing tool. Working on this issue is an opportunity to learn how to work with it. I'm happy to grant any additional access permissions needed to contributor(s) interested in working on this.

---

When contributors submit a PR, there is a DeepSource check that appears to fail incorrectly.

The PRs where this occurred are #25 #26 #28 #30 #31 #42.

Some ideas of how to get s

[2021-08-16 12:28] audreyfeldroy commented on #40
Thank you @Vaibhav9892 for completing this in #42! Much appreciated.

[2021-08-16 12:28] #40 closed

[2021-08-16 12:29] audreyfeldroy commented on #39
Yes, go for it @riyaku11 👍

Let us know if you get stuck or need any help, we're here for you.

[2021-08-16 12:32] audreyfeldroy commented on #6
Huge thanks @rathijitpapon for your help with this in #44.

Rathijit and I are working together on this now.

[2021-08-16 12:35] audreyfeldroy commented on #9
I'm actually having second thoughts about moving from Netlify to Vercel. I really like Netlify's deploy previews and checks. I'll leave this open for further consideration, though, since I'm less familiar with Vercel and it may provide similar functionality.

[2021-08-16 13:34] audreyfeldroy commented on #33
While #38 is still a possible dependency of this issue, it doesn't necessarily have to be.

I remembered a multi-column card layout can work with unequal card heights. This type of layout is typically referred to as *masonry*, named after the popular [Masonry package](https://masonry.desandro.com/).

To see a masonry layout in action: https://getbootstrap.com/docs/5.0/examples/masonry/

Here are a

[2021-08-16 13:35] audreyfeldroy commented on #38
We don't necessarily have to implement this. See #33 for more info about masonry as an alternative multi-column layout for varying card heights.

[2021-08-16 13:39] audreyfeldroy opened #45 ""Anyone in Need" form user experience"
This issue is particularly newbie-friendly and would help us a lot:

- [ ] In MainDonationForm.js, add a checkbox called "Anyone in Need"
- [ ] Click through to make sure it works

[2021-08-16 16:23] Harsh-Singh-Rajput commented on #35
hello audreyfeldroy in am working on your health workshop card but I didn't understand how to run, but I did change and shorten the health workshop card , will i commit the changes so that you can see that whether it solve your problem or not.

[2021-08-16 19:18] arvind-1 commented on #1
Hi, can i work on this? or any important priority issue you may feel.

[2021-08-16 19:36] ckkeppler commented on #45
I would like to handle this issue

[2021-08-16 20:54] audreyfeldroy commented on #45
Hi @ckkeppler, thanks for offering to take this one. It looks like pull request #46 already implemented this as a toggle, but would you be interested on iterating on it further?

For example, if you can think of any ways to make the user experience of the "Anyone in need" toggle/checkbox form better, a PR would be wonderful.

[2021-08-16 21:12] RedFox0x20 commented on #45
A couple ways I think this form could be improved further may be to:
- Allow the user to select one of the `disabled` options, this would have to be rigged up so that the `Anyone in need` option is unchecked when one of the other options enabled.
- Some slight indenting on other options to suggest a hierarchy which shows the relationship between the elements (you often see this done in similar sit

[2021-08-17 08:25] briankarlsayen commented on #34
hi audreyfeldroy, I would like to work on this.

[2021-08-17 08:33] audreyfeldroy commented on #1
Sure @arvind-1! To get started on this issue:

1. Take a look at https://helpafamily.margaritahumanitarian.org/thank-you to see how the page currently looks
2. Follow the Readme to run the project locally
3. Check that you can see the same page on your computer at http://localhost:3000/thank-you
4. Make any improvements you think would improve the page. If you're not sure, a good improvement could

[2021-08-17 08:37] arvind-1 commented on #1
@audreyfeldroy alright then. Is there any chat to show progress and get feedback for post it here itself?

[2021-08-17 08:41] audreyfeldroy commented on #35
Wonderful @Harsh-Singh-Rajput, thank you for working on this!

Let me help you get started.

Try this:
1. Download GitHub Desktop if you haven't yet.
2. Under Current Branch main, click the "New Branch" button.
3. Name the branch `shorten-health-workshop-card`
4. Click the "Create Branch" button.
5. Commit your changes to that branch.
6. Submit a pull request from that branch.

If you get stuck on

[2021-08-17 08:48] audreyfeldroy commented on #34
Thank you @briankarlsayen, this issue is yours. If you get stuck, post here and we'll do our best to help.

[2021-08-17 08:48] audreyfeldroy commented on #34
Oh, I just saw your PR, nice!

[2021-08-17 09:19] audreyfeldroy commented on #45
@RedFox0x20 Thanks for posting your form improvement ideas. I particularly like this one:

@ckkeppler Would you like to try implementing this? You're also welcome to claim any other unclaimed issue and leave this one to someone else. No pressure 🙂

[2021-08-17 09:22] audreyfeldroy commented on #34
I've reviewed your PR #48, nice work 🙂

[2021-08-17 09:23] audreyfeldroy commented on #6
This is done and merged. Thanks again @rathijitpapon!

[2021-08-17 09:23] #6 closed

[2021-08-17 09:32] audreyfeldroy opened #49 "Humanitarian Clinic card"
Create a new card on the page with this text:

Humanitarian Clinic

Provide a free, anonymous phone or video telehealth consultation for someone afraid to see a doctor, such as a migrant or refugee who lacks identification.

Help 1 Patient for $30

[2021-08-17 09:33] arvind-1 commented on #1
@audreyfeldroy i have added the text "With gratitude from Margarita Humanitarian Foundation" for now. Redesign of page must need your inputs as we have some important text on this page.

[2021-08-17 09:37] audreyfeldroy opened #51 "Food Distribution Support card"
Create a card with the text:

Food Distribution Support

Help us cover our staffing costs for providing free food boxes for hungry families, such as paid time to manage volunteers for food distribution events or coordination with community groups.

Support Food Distribution for $150

[2021-08-17 09:58] audreyfeldroy commented on #34
PR #48 is merged. Grateful for your work @briankarlsayen.

[2021-08-17 09:58] #34 closed

[2021-08-17 10:02] audreyfeldroy commented on #1
Great @arvind-1. Try submitting a pull request with that little text change. It'll get you used to the GitHub contribution workflow, and small PRs like this are really nice from a reviewer's perspective.

About chat, we just set up a chat room today on Element: https://app.element.io/#/room/#mhf:matrix.org
I'll be in there for the next few minutes, but it's getting late here in Los Angeles so I'll

[2021-08-17 10:05] audreyfeldroy commented on #35
And yes, committing your changes and submitting a PR would be great. Then we can review it and give you feedback.

[2021-08-17 10:06] audreyfeldroy commented on #43
This was fixed in #44. Thanks again @rathijitpapon for doing that, you made my life so much easier 🙏

[2021-08-17 10:06] #43 closed

[2021-08-17 10:07] Vaibhav9892 commented on #51
I would love to work on this issue. Can you assign it to me?

[2021-08-17 10:09] audreyfeldroy commented on #51
Yep, it's all yours! Thanks for working on this @Vaibhav9892.

[2021-08-17 10:12] audreyfeldroy commented on #33
I assigned you this issue @GrungeKarma, but no pressure. If you get too busy or would rather work on something else, unassign yourself and someone else can take this 🙂

[2021-08-17 10:29] audreyfeldroy commented on #51
This is complete in #53 thanks to @Vaibhav9892 and merged.

[2021-08-17 10:29] #51 closed

[2021-08-17 10:51] JBCodeBook commented on #49
Hi Audrey, I'd like to help with this issue. Could I have a crack at it?

[2021-08-17 13:01] JBCodeBook commented on #49
Hi again, I created a pull request just now. I'm happy to resolve any issues.

[2021-08-17 16:40] GrungeKarma commented on #33
I am still working on it. It is a finicky issue.

[2021-08-17 18:12] GrungeKarma commented on #33
Here is an Image for as far as I have gotten. The issue is mobile responsiveness. I cannot get Tailwind to return to a single-column layout on mobile sizes. Any insight?

https://imgur.com/a/JErprlu

[2021-08-17 18:18] Harsh-Singh-Rajput commented on #35
Ok Audrey I will commit changes tomorrow

Ok then I will commit changes tomorrow and after that you can review and give feedback to me

[2021-08-17 18:23] audreyfeldroy commented on #49
I've merged #55. Thanks again @JBCodeBook!

[2021-08-17 18:23] #49 closed

[2021-08-17 18:37] audreyfeldroy commented on #45
Oh wow, I see you submitted a PR for this @rathijitpapon. I'll mark this issue as assigned to you then. Thank you so much for that.

@ckkeppler sorry about the confusion, I'm still getting used to how GitHub issue assignment works and should have assigned it to you when you commented. If your schedule permits, take a look at the other issues for anything else that interests you...your help with an

[2021-08-18 13:07] suveshmoza commented on #14
I would like to work on this issue.

[2021-08-18 14:44] audreyfeldroy commented on #33
That's awesome @GrungeKarma. Submit a PR of what you have so far, then I can look into the mobile responsiveness.

[2021-08-18 14:48] audreyfeldroy commented on #14
Cool @suveshmoza. This one is yours.

Caution, there are other issues also touching design, specifically the one about multicolumn layout and the PR for form UX.

I suggest starting with the smallest design improvement you can think of which doesn't affect those 2 items. Perhaps something involving card styles would be a good one. Thoughts?

[2021-08-18 14:53] suveshmoza commented on #14
I will make sure of that and would be focusing on smaller improvements.

[2021-08-18 15:13] RedFox0x20 commented on #37
I'll put this together if work hasn't been started on it?

[2021-08-18 16:51] audreyfeldroy commented on #39
I've put logo files in different sizes in https://github.com/margaritahumanitarian/media-kit/tree/main/logo-full-color

I can also resize those to any size you need.

How's it going @riyaku11? Post here or find me in [our chat room](https://app.element.io/#/room/#mhf:matrix.org) if you need any help, even with things like git.

[2021-08-18 18:49] GrungeKarma commented on #33
Submitted the pull request. There are some conflicts because it took a couple of days. I am not familiar with how to resolve the conflicts between the files.

[2021-08-18 18:51] GrungeKarma commented on #38
The cards are now housed in divs with predefined widths making them more standard. If we decided to go down the road of uniformity we will also have to implement a standard height and do some textual content editing.

[2021-08-18 22:04] GrungeKarma commented on #33
Submitted again fixing mobile responsiveness.

[2021-08-19 00:28] audreyfeldroy commented on #45
This is done and merged. I learned some really cool things from your PR @rathijitpapon, thank you! And thank you @RedFox0x20 for all the reviewing help.

[2021-08-19 00:28] #45 closed

[2021-08-19 04:09] audreyfeldroy commented on #38
That PR was such a huge help @GrungeKarma. Agreed about your points about choosing a standard height and content editing.

I'd love to hear everyone's thoughts about uniform card heights vs. masonry vs. other approaches.

Also, I'm totally open to PRs with better writing or copy-editing as a means of partially or fully improving how the cards look.

[2021-08-19 04:09] audreyfeldroy commented on #37
#59 is merged, thanks @RedFox0x20!

[2021-08-19 04:09] #37 closed

[2021-08-19 04:11] audreyfeldroy opened #63 "Refactor common code from cards"
The cards evolved organically to have some code duplication.

For this issue, find a way to refactor the common code from them.

[2021-08-19 04:11] audreyfeldroy commented on #35
@Harsh-Singh-Rajput your PR is merged! Thanks so much.

[2021-08-19 04:11] #35 closed

[2021-08-19 04:17] audreyfeldroy opened #64 "JS documentation / documentation coverage"
DeepSource says we have 5% documentation coverage. I'm actually not sure where that 5% even comes from, to be honest.

For this issue, help us set up documentation for our JS code in a way that documentation coverage numbers can be checked by DeepSource.

You don't have to actually write all the documentation...you or others can pitch in later with PRs for it.

This may involve reading up on best

[2021-08-19 04:30] audreyfeldroy commented on #33
Thanks again!

[2021-08-19 04:30] #33 closed

[2021-08-19 04:37] audreyfeldroy opened #65 "Enable DeepSource transformer for Prettier?"
From https://deepsource.io/gh/margaritahumanitarian/helpafamily/history/transforms :

This might be a good way to auto-run Prettier @marekrozmus? Unless you have another idea in mind?
See https://deepsource.io/docs/transformer/prettier

[2021-08-19 04:59] audreyfeldroy opened #66 "Experiment with adding photos to cards"
So far we have photos in [media-kit](https://github.com/margaritahumanitarian/media-kit) of:

- Food Distribution
- Hot Meal Day

We can get photos for all the other cards soon.

https://daisyui.com/components/card has examples of adding photos to cards. Play with it and see what looks and feels best.

[2021-08-19 05:13] GrungeKarma commented on #38
I am going to take a look at this one as well.

[2021-08-19 05:38] audreyfeldroy opened #67 "Multiple address choices for laptop shipping"
In the laptop card, soon we'll have multiple addresses where you can ship your used laptops.

Our plan is to partner with other nonprofit orgs to help them get local donations of laptops, to fix up for their own communities. Volunteers will do fresh operating system installs on the laptops for families.

Sample use case: if you live in India, it makes so much more sense to ship a laptop to an Indi

[2021-08-19 05:40] riyaku11 commented on #39
I am not able to run the project locally, I am stuck at the yarn command .
this message is displayed : 'yarn' is not recognized as an internal or external command,
operable program or batch file.

[2021-08-19 06:04] GrungeKarma opened #69 "Laptop for families card is wider than the rest"
I am not sure why this is but I know if you remove the divider daisyUI class from the card the sizes all become uniform. Any other ideas to fix the problem would be great too.

[2021-08-19 07:30] Quado1 commented on #8
Hello, @audreyfeldroy. Did you fix it?

[2021-08-19 07:45] marekrozmus commented on #65
I'll check it :) Please assign this issue to me as I cannot do that myself. Same with #27

[2021-08-19 07:51] marekrozmus opened #70 "We need to decide if use yarn or npm"
@audreyfeldroy I see that package-lock.json was added. This might introduce problems as we should have yarn.lock or package-lock.json. Otherwise we will go out of sync on those lock files and they will be useless.

[2021-08-19 09:03] marekrozmus commented on #2
JS or React :)? We could try with Jest and React Testing Library but for now there is not much to test ;)

[2021-08-19 09:07] marekrozmus commented on #63
I'm on it :)

[2021-08-19 10:09] suveshmoza commented on #14
@audreyfeldroy  made a PR #72 have a look

[2021-08-19 11:25] RedFox0x20 commented on #70
`package-lock.json` was added in #61 by @GrungeKarma

From my understanding the project was started with using yarn, the best option may be to remove `package-lock.json` and adding it to the `.gitignore` file so if someone does use npm on their local repository, the changes don't interact with others using yarn. Ideally everyone would use the same tools but sometimes that doesn't happen.

I don't

[2021-08-19 11:35] marekrozmus commented on #70
I agree with your proposal 🙂.
Although the locks are not used by developers it might be that some tools will get confused which lock file should be used and we will have some weird bugs.

[2021-08-19 11:36] audreyfeldroy commented on #70
Good catch, I missed that in my earlier review. Hey @GrungeKarma, sorry about that, I should have reviewed more carefully or gitignored the file in the first place.

I think the Next.js world prefers yarn these days? I'm good with .gitignoring `package-lock.json` if anyone wants to send a quick PR for it.

[2021-08-19 11:36] RedFox0x20 commented on #70
Ok, I can do that.

[2021-08-19 11:37] audreyfeldroy commented on #67
I think maybe we'll hold off until we get the exact second address.

[2021-08-19 11:41] #70 closed

[2021-08-19 11:51] audreyfeldroy commented on #66
I just merged in a different approach by @suveshmoza in #72. I really love what he did there with incredibly thoughtful background photos, but we're also still open to any iterations on the design that use photos of MHF team members in action doing community service.

[2021-08-19 12:13] RedFox0x20 commented on #36
What would the figures need to be changed for on this card?
It currently display `Create 1 workshop for $2000`, how many seats are there per workshop?

[2021-08-19 12:18] #65 closed

[2021-08-19 12:20] #69 closed

[2021-08-19 12:21] RedFox0x20 commented on #38
I believe this is no-longer an issue due to #72

[2021-08-19 12:24] audreyfeldroy commented on #39
Hi @riyaku11! Try `npm install -g yarn` to install yarn.

If that doesn't work, https://stackoverflow.com/questions/43313178/react-native-error-yarn-is-not-recognized-as-an-internal-or-external-command has some nice solutions.

[2021-08-19 12:38] audreyfeldroy commented on #38
Yep, thanks for posting that comment @RedFox0x20, helps me keep track. I know there's a way to auto-resolve issues from a PR merge. I suppose we should look into that at some point.

And thank you again @GrungeKarma for all your contributions. I know you're still new to much of this. I just wanted to say you're doing great. An open-source repo with this much activity is not easy to contribute to,

[2021-08-19 12:38] #38 closed

[2021-08-19 12:39] #67 closed

[2021-08-19 12:45] audreyfeldroy commented on #36
Oh right, I just changed that price while I was attempting to shorten the button text. Looks like the button text is still too long and needs to be changed further anyway. Looking at it again, I think per seat may still be a better idea to make it more approachable.

For per-seat pricing, I think $100 per seat would be a good figure that donors could feel is fair and support.

(Technically it's co

[2021-08-19 14:36] RedFox0x20 opened #77 "Warning on `yarn install`"
When running `yarn install` I currently get the following warnings:

warning "eslint-config-next > @typescript-eslint/parser > @typescript-eslint/typescript-estree > tsutils@3.21.0" has unmet peer dependency "typescript@>=2.8.0 || >= 3.2.0-dev || >= 3.3.0-dev || >= 3.4.0-dev || >= 3.5.0-dev || >= 3.6.0-dev || >= 3.6.0-beta || >= 3.7.0-dev || >= 3.7.0-beta".

Perhaps something needs an update? I am

[2021-08-19 15:11] tof-tof commented on #14
hi @audreyfeldroy, @suveshmoza I thought it would be cool to add a small lift to the buttons on hover to make the design more inituitive but I can't find where the css classed like `btn` and `btn-primary` are defined. What file can I find this in?

[2021-08-19 15:39] audreyfeldroy commented on #14
Hi @tof-tof, that sounds cool! You asked a great question.

So far we don't actually have a CSS file yet: the styles currently come from https://daisyui.com/.

[Here](https://github.com/pydanny/daniel.feldroy.com) is an example of a similar project showing how you can add styles in `styles/global.css` or similar, then [import that file](https://github.com/pydanny/daniel.feldroy.com/blob/main/pages

[2021-08-19 15:59] tof-tof commented on #14
thanks for this, very useful!

[2021-08-19 17:46] GrungeKarma commented on #38
No problem, I am happy to help and this is a great learning experience.

[2021-08-20 01:31] eremitik commented on #1
Hi there, I've made some small typography changes to the page on #81 as a first step to contribute to your project. Hope it is acceptable!

[2021-08-20 22:16] GrungeKarma commented on #14
I just submitted a visual change in #82. Let me know what you think. It was just a thought, but I like the way it affects the site.

[2021-08-21 23:29] #63 closed

[2021-08-22 01:15] audreyfeldroy opened #83 "Consider removing main background image"
Now with the beautiful card images, perhaps we don't need the main background image of the daisy? Thoughts?

[2021-08-22 01:22] audreyfeldroy commented on #39
Hi @riyaku11! I unassigned this from you to take some pressure off your shoulders. Let's focus on getting your local setup working first. I can help you over chat or video if you'd like.

This issue is open to anyone interested in working on it 🙂

[2021-08-22 13:48] endreymarcell commented on #64
Hey there!
[According to DeepSource](https://discuss.deepsource.io/t/how-is-documentation-coverage-calculated/65), this metric shows "the number of scopes that have some sort of documentation added, versus the number of scopes (classes, functions, structs, modules) that exist in a given codebase."
In other words, you can achieve 100% on this scale if you add a comment to every single thing you add

[2021-08-22 15:06] audreyfeldroy opened #84 "In Netlify previews, buttons aren't going to Stripe checkout"
When you click buttons in Netlify previews, instead of going to the Stripe checkout there is a 502 error shown in the console:

This was mentioned by @RedFox0x20 in a few PRs as a barrier to contributors being able to make sure their PRs function properly. So it would be really good to fix soon.

Fixing this issue probably requires admin rights on Netlify, so @pydanny and I will look into it.

[2021-08-22 16:04] audreyfeldroy commented on #64
Hi @endreymarcell, thanks for looking into how DeepSource calculates documentation coverage, and for sharing your perspective, it really helps me and everyone understand this better.

Clean Code is an excellent book. I'm watching the Lesson 2 video with @pydanny and it's good! Thanks for the recommendation. And I definitely agree with not adding comments to every single thing, haha. Let me clarify

[2021-08-22 16:44] audreyfeldroy commented on #39
Tips for anyone working on this issue:

* [Here](https://github.com/margaritahumanitarian/media-kit/blob/main/logo-full-color/MHF-Color-300x300.png) is a 300x300 version of the logo to copy into this repo
* If you'd like a smaller or larger dimension file, you can resize it or ask me for a particular size
* It's okay if it doesn't look perfect on the page. For example, I know the colors might not

[2021-08-22 16:46] audreyfeldroy commented on #1
Thank you @eremitik for #81! See our comments in there.

Thank you @arvind-1 for working on adding the MHF logo to the Thank You page. [Here](https://github.com/margaritahumanitarian/media-kit/blob/main/logo-full-color/MHF-Color-300x300.png) is a 300x300 version of it you can use, or you can resize it or ask me to generate other sizes. Keep us posted on how that's going and if you need any help or

[2021-08-22 17:01] GrungeKarma commented on #14
So there were some major card changes, lol. It is probably going to be easier to delete my pull request and start with the new card structure.

[2021-08-22 17:16] audreyfeldroy opened #86 "Set up Prettier GitHub Action"
The [Prettier GitHub Action](https://github.com/marketplace/actions/prettier-action) can auto-run Prettier on whatever we want.

I think running it on PRs and pushes to `main` would be really nice.

There may be other similar Prettier GitHub actions, though...this is just the first one I found.

[2021-08-22 17:18] audreyfeldroy commented on #86
Anyone with at least 2 accepted PRs to this repo want to set this up? I can grant you additional permissions as needed.

[2021-08-22 17:31] GrungeKarma commented on #83
I just submitted pull request #87 that removes the background image.

[2021-08-22 17:42] #83 closed

[2021-08-22 17:42] audreyfeldroy commented on #83
Thanks @GrungeKarma !

[2021-08-22 18:02] #84 closed

[2021-08-22 19:41] marekrozmus commented on #86
I can try do that in following days. Should find some free time :)

[2021-08-22 23:49] audreyfeldroy commented on #9
After some difficulty with configuring per-environment variables in Netlify compared with our experience of it in Vercel, we've decided to try moving this to Vercel. Still setting it up...so far so good 🙂

[2021-08-22 23:53] audreyfeldroy commented on #86
That would be awesome @marekrozmus. If you get busy and want me or others to handle this, just unassign yourself.

I'll leave your permissions on the org and repo as-is for now, since you might need the extra access to various GitHub settings.

[2021-08-23 01:00] audreyfeldroy commented on #14
@GrungeKarma sounds good, and no rush on the focus rings, I know you've been contributing so much lately. Thanks again for PR #87 too. 🙏

Everyone, this issue is still open to other small, incremental design improvement PRs. All are welcome to submit PRs as proposals or create other design-related issues too.

[2021-08-23 08:21] marekrozmus commented on #86
@audreyfeldroy It looks like it is working :)
Please check: #92
there is additional commit made that autofixes issues: `Apply formatting changes`

After you check please remove the #92 pr and branch as this is just proof of concept. It should now work for all PRs 🙂

[2021-08-23 09:05] audreyfeldroy commented on #9
Now both Vercel and Netlify are set up for deploy previews. Let's see how they both feel before deciding to remove either one.

[2021-08-23 09:47] marekrozmus commented on #86
You can always add stuff to `.prettierignore` file if you don't want it to change `.md.`files.

[2021-08-23 10:16] marekrozmus commented on #86
Hmm, there is still problem with PRs made from forks :/ I'll take a look at this.

[2021-08-23 10:20] audreyfeldroy commented on #39
Hey, so I decided to take this one due to the urgency and complexity of it.

But all are welcome to iterate on what I did with improvement PRs. The logo I put in quickly is showing up blurry, and I didn't get a chance to fix it.

[2021-08-23 10:20] #39 closed

[2021-08-23 10:25] audreyfeldroy opened #95 "Implement navbar items as card categories"
When you click "In-Kind" in the navbar, it should only show the cards that are in-kind donations:
* Laptop for Families
* Hygiene Kits

When you click "Fund" it should show all the cards where the button goes to Stripe checkout.

We don't have any "Give Your Time" cards yet, but we will soon. Those are cards describing how people can volunteer, e.g. doctors can give 1+ hour per week of pro bono se

[2021-08-23 10:32] audreyfeldroy opened #96 "Iterate on card design"
Now that I've updated the site background to white to better accommodate the brightness of the MHF logo, the cards that once looked really amazing as part of a beautiful earlier iteration by @suveshmoza now appear a bit dark.

* Try making the cards lighter: can it be done without sacrificing readability?
* Try putting the card images above the card text, and making the card text dark. Does it hel

[2021-08-23 10:35] audreyfeldroy commented on #86
@marekrozmus I may have accidentally introduced this bug, sorry! I modified .github/workflows/format.yml by adding `push:` on line 5. Try removing that maybe?

[2021-08-23 10:43] marekrozmus commented on #86
I think this is not the problem - the problem is with PRs from forks - I thought that I've that fixed but it looks like it is still not working :/

[2021-08-23 13:09] marekrozmus commented on #86
There is an issue with checking out the code in the action for the PRs from forked repos as this code is not in this repo but in the forked one. So this will work for PRs made in his repo but will fail for all PRs that comes from forks :/

So far I cannot find any solution for that. Maybe we should leave this formatting only on pushing to `main`? I wonder if that will also work during merging PRs

[2021-08-23 14:20] audreyfeldroy commented on #8
Hi, yes this one is fixed, oops. Thanks for asking and helping me catch that.

[2021-08-23 14:20] #8 closed

[2021-08-23 14:49] audreyfeldroy commented on #36
Sorry, I reread this and realized I didn't answer your question properly @RedFox0x20.

About seats per workshop, it's a bit complicated as our proposals vary a lot: a small workshop for a tiny multicultural church can be 20 seats, a large workshop for a public school may be 1000+ seats.

There's also the issue of health workshop length variation: some are series, some are one-time events.

Given t

[2021-08-23 14:49] #36 closed

[2021-08-23 14:54] audreyfeldroy commented on #86
I'm okay with just running it on push to `main` 👍

[2021-08-23 14:57] marekrozmus commented on #86
OK - done (I hope ;)) we will need to observe if that works correctly.
I'm closing this one again.

[2021-08-23 14:57] #86 closed

[2021-08-23 14:59] audreyfeldroy commented on #86
There must be a reason they decided to make that recommendation. I wonder why but I'm happy with this regardless.

Thanks so much for all your hard work @marekrozmus. It means so much to us, and I know this will make  maintenance of the code so much better.

[2021-08-23 15:37] RedFox0x20 commented on #36
No need for apologies the intention of my question was to provide more information for anyone who wanted to take the task, sorry!

Multiple cards sounds like a better option. Additionally it may work out better for you to produce cards as and when the charity is available for certain sizes of events. There's a variety of factors determining the pricing required etc, which I'm sure you're far more

[2021-08-23 22:44] audreyfeldroy opened #103 "Add Next.js plugin to ESLint configuration"
I noticed this error in [a PR](https://vercel.com/margaritahumanitarian/helpafamily/7aG4hausAKsqhcgEzmMAMAWq11Ez) today:

[2021-08-23 22:58] RedFox0x20 commented on #103
I'll start adding this. 😃

[2021-08-23 23:28] audreyfeldroy opened #105 "Add `backgroundImageAltText` property to Card"
In #104 @RedFox0x20 suggested exposing the alt text as a property of the Card component.

Perhaps something like `backgroundImageAltText` could be set for each card?

[2021-08-23 23:29] audreyfeldroy commented on #103
Thanks again!

[2021-08-23 23:29] #103 closed

[2021-08-24 06:00] audreyfeldroy opened #107 "Improve CONTRIBUTING.md"
Let's make CONTRIBUTING.md more newbie-friendly. This issue involves improving that file with things like:

* What are some lessons you learned while contributing to this project?
* Anything that would help new contributors get started?
* What are common errors newbies face? Perhaps those could go into a Troubleshooting section?
* Are there parts of README.md that would be better in CONTRIBUTING.m

[2021-08-24 09:39] RedFox0x20 commented on #107
I'd be happy to start improving the repository documentation, including elements of the [community](https://github.com/margaritahumanitarian/helpafamily/community) tab.

[2021-08-24 18:04] RaphaelGC7 commented on #1
Greetings everyone, I would like to help improve the thank you page. I will be working on it if convenient =)

[2021-08-24 22:28] RedFox0x20 commented on #77
After further reading, this is nothing to worry about.

These warnings are for `peer dependencies`, these are packages that are used by our other packages.

It is not always necessary to install these packages, it goes slightly against logic as we would expect a possible problem to occur, but adding these packages could actually cause issues of conflict. If an issue occurs in not having them, then

[2021-08-24 22:28] #77 closed

[2021-08-24 23:41] #95 closed

[2021-08-26 09:05] audreyfeldroy opened #113 "Convert [Idea] in ISSUE_TEMPLATE to label"
**What should we change and why?**

It would be cool to promote the [Idea] prefix to an actual GitHub issue label. I know there's the *enhancement* label, but I feel like *idea* is somewhat different. I see it as a label that encourages creative brainstorming by everyone in the community. Collective brainstorming has the potential to produce ideas far better than @pydanny or I could independently.

[2021-08-27 02:43] audreyfeldroy opened #115 "Add frontend UI for Electronic Device Donation Form"
**What should we change and why?**

Create a form for people who want to donate electronic devices, with these fields:

* Name
* Email
* City
* State / Province / Region
* Country
* Tell us about each laptop, tablet, and/or smartphone you'd like to donate (textarea)

Link to this form from the Laptops for Families card, as a button replacing the shipping address.

This issue is just for the fronte

[2021-08-27 02:57] audreyfeldroy opened #116 "Implement new card for Doctors, NPs, PAs"
**What should we change and why?**

Implement a new card under "Give Your Time":

If you'd like you can find a public domain medical image to use for the card, or you can give it a blank background if that's easier.

[2021-08-27 03:05] audreyfeldroy opened #117 "Partner card: Electronics Drop-Off Box"
**What should we change and why?**

Implement a new card:

This would go under a new navbar category called Partner With Us

[2021-08-27 03:34] audreyfeldroy opened #118 "Partner card: Shipping Address for Electronics Donations"
**What should we change and why?**

Implement a new card:

This would go under a new navbar category called Partner With Us

**Please list any other [issues](https://github.com/margaritahumanitarian/helpafamily/issues) this may be related to**
- #117

[2021-08-27 04:13] audreyfeldroy opened #119 "Update <title> to Help a Family"
**What should we change and why?**

Update <title> for all pages to `Help a Family in Need`. It's a bit nicer and more accurate since the point is to help families, not just to help the org.

[2021-08-27 21:13] audreyfeldroy opened #123 "Grow contributor roles progressively"
For those who contribute a lot and are interested in greater responsibilities, I'd like to grant greater rights on this repo. This issue is a starting point for discussion.

Comment here or in https://app.element.io/#/room/#mhf:matrix.org (or DM to me in Element) if:
* You're interested in having or earning greater privileges on this project, now or in the future
* You'd like greater access to any

[2021-08-28 01:01] JasonZhu95 commented on #118
Ok i understand viewing and forking from @Sukhamjot-Singh, but looking at the code added by #120 I don't see the shipping address for electronics donations card created.  It adds the ElectronicsDropOff card from issue #117 not the ShippingForElectronics Card.  So is this issue still open?  Am i missing something?  Sorry i'm not 100% sure still new to open source contributing.

[2021-08-28 02:39] #117 closed

[2021-08-28 02:39] #118 closed

[2021-08-28 03:00] #116 closed

[2021-08-28 05:40] ozer619 commented on #115
I would like to work on this issue.

[2021-08-28 05:42] audreyfeldroy commented on #119
#112 was merged so go for it @Manas-Chinta. Really appreciate your willingness to contribute, thanks!

[2021-08-28 06:05] pydanny commented on #105
Stackblitz has a free option for open source efforts: https://stackblitz.com/membership

I haven't tried running in this environment but it looks like Next support for it is in beta.

[2021-08-28 06:14] ozer619 commented on #115
I would like to work on this issue.

[2021-08-28 06:24] RedFox0x20 commented on #115
Sure thing @ozer619 I will assign this to you. Many thanks!

[2021-08-28 06:29] ozer619 commented on #115
i need guidance tho , after the person clicks the button what do i have to do?

[2021-08-28 07:38] RedFox0x20 commented on #115
@ozer619 the issue is currently only to implement the front end, no need to worry about the routing for now :)

[2021-08-28 07:49] marekrozmus commented on #105
@piyush26arora you can use [codesandbox](https://codesandbox.io/)

just press `create sandbox` - then `Import Project` and paste link to your repository branch
![codesandbox](https://user-images.githubusercontent.com/26272040/131210704-ee24e4fd-0f26-412c-8e2c-9844f37b9e19.jpg)

[2021-08-28 08:10] audreyfeldroy commented on #115
Yep, just the frontend. To start:
- Create a file called pages/give-devices.js.
- Pattern it roughly after pages/thank-you.js
- Build the UI for the form on that page using DaisyUI.
- Don't set up form submission. The button will do nothing at this point. That's good!
- Send a PR with this code change.

[2021-08-28 08:13] audreyfeldroy commented on #66
Hi @Harshak30, this issue is yours to work on! Post here or in chat if you need help.

[2021-08-28 08:22] audreyfeldroy commented on #96
Hi @sre-harine! I just assigned related issue #66 to @Harshak30 which has some overlap with this, which could create merge conflicts.

Let's give him a chance to submit his work first. Once his changes are in, we can assign you this.

In the meantime see if there are any other issues that interest you.

[2021-08-28 08:41] audreyfeldroy opened #125 "Refactor "Fund" cards to get data from a .json file"
The 5 cards that appear on https://helpafamily.margaritahumanitarian.org/fund are currently 5 different components. They're similar enough that they could be one component with different data.

- [ ] Create data/cards-fund.json containing the data for all the "Fund" cards
- [ ] Get the data for each Card component from data/cards-fund.json

[2021-08-28 09:09] marekrozmus commented on #125
@audreyfeldroy Just wondering if we could use [contentful](https://www.contentful.com/) and make this site configurable :)

[2021-08-28 09:15] audreyfeldroy commented on #125
I've never tried Contentful but it looks cool! Just signed up for an account and am looking into how to grant you admin rights on it.

[2021-08-28 09:21] audreyfeldroy commented on #119
Completed by @Manas-Chinta in #126, thanks!

[2021-08-28 09:21] #119 closed

[2021-08-28 09:23] audreyfeldroy commented on #125
@marekrozmus What's your preferred email address for the Contentful invite? DM me via https://app.element.io/#/room/#mhf:matrix.org if you prefer

[2021-08-28 09:48] audreyfeldroy commented on #1
Hi @RaphaelGC7, sorry I just saw your comment!

So far @arvind-1 worked on improvements to the thank you page which are currently in https://github.com/arvind-1/helpafamily/ - as a first step would you be up to helping us get his changes in?

You could try creating a [multiple-author commit](https://docs.github.com/en/github/committing-changes-to-your-project/creating-and-editing-commits/creating-

[2021-08-28 10:16] audreyfeldroy commented on #64
I appreciate the feedback @endreymarcell! Thanks for taking the time to comment again and share your thoughts further.

Let's hold off on this issue until we have the exact use case for the documentation figured out.

[2021-08-28 10:56] audreyfeldroy opened #128 "Map of Electronics Gifting Cities"
Currently people are asking us where they can give or receive electronics. Create a simple map of the cities where people can give/receive electronics on a new page of the site:

- [ ] Create pages/electronics-gifting-cities.js
- [ ] Show all the locations on the map, using [this](https://cdn.contentful.com/spaces/knt9prkyuowf/environments/master/entries?access_token=9egwkeIujYc8xOfJcfv7QGdYD7fU_Y

[2021-08-28 11:46] piyush26arora commented on #105
@marekrozmus thanks, it turned out to be of great help.
This is the link of the code on codesandbox, same code is also available on my fork of this repo .
If it's fine, I will put PR for the same.
https://codesandbox.io/s/prod-sea-5stbx

[2021-08-28 20:29] #115 closed

[2021-08-28 20:48] audreyfeldroy commented on #105
Hi @piyush26arora! In this project there's no need to ask before submitting a PR. You can use PRs for anything: proposals for random ideas, sanity checks, unfinished PRs for questions like "Is this okay so far?", etc.

I did check your code in codesandbox and it looks great. Kindly go ahead with the PR 😄

[2021-08-28 21:02] pydanny opened #132 "Add value field to Donate Devices form"
**What should we change and why?**

The donate devices form needs an integer field representing currency `value` of the donation. See image below showing that our legal tax receipt provides a value:

<img width="707" alt="Screen Shot 2021-08-28 at 1 57 14 PM" src="https://user-images.githubusercontent.com/62857/131230861-4f7def26-07d4-4477-a926-8442c7dc5a73.png">

[2021-08-28 21:04] pydanny opened #133 "Add phone field(s) to donate devices form"
**What should we change and why?**

The donate devices form needs field(s) representing phone numbers. With international orders we should be able to handle country codes. See image below showing that our legal tax receipt document:

<img width="707" alt="Screen Shot 2021-08-28 at 1 57 14 PM" src="https://user-images.githubusercontent.com/62857/131230861-4f7def26-07d4-4477-a926-8442c7dc5a73.png">

[2021-08-28 21:06] pydanny opened #134 "Debate: Consider changing first_name/last_name fields to just "name""
**What should we change and why?**

There are individuals with single names. There are also cultures with single names. Should we support them by having just a single name field? Let's discuss!

[2021-08-28 21:10] pydanny opened #135 "Create backend for donation of devices"
**What should we change and why?**

We are going to use Zapier and Google Spreadsheets, Documents, and Email.

- [ ] Create spreadsheet that matches

[2021-08-28 21:11] RedFox0x20 commented on #134
The standard for most sites is always separate First and Last names, however I do believe in many cases the last name field can be made optional. Simplifying it to a single, simple `Name` field makes sense in respect to this.

[2021-08-28 21:14] pydanny opened #136 "Add SubmitHandler to give-devices.js"
**What should we change and why?**

We need a submit handler in order to wire in the backend mechanisms as described in #135.

<img width="707" alt="Screen Shot 2021-08-28 at 1 57 14 PM" src="https://user-images.githubusercontent.com/62857/131230861-4f7def26-07d4-4477-a926-8442c7dc5a73.png">

[2021-08-28 21:18] pydanny opened #137 "Create and send receipts for donation of devices"
**What should we change and why?**

Pending some kind of approval process for when devices arrive, we should automate sending of receipts for devices. This is dependant on #135.

- [ ] Use google docs/email to create receipts based on the template below (we already have this in google docs)
- [ ] Once a laptop has arrived, use Zapier or other automation to trigger automation

Because of permission

[2021-08-29 04:43] ozer619 commented on #128
I would like to work on this issue.

[2021-08-29 11:29] #113 closed

[2021-08-29 15:30] audreyfeldroy commented on #134
Looking at the use cases:

* Sending laptop donors thank-you postcards, receipts, and letters via Lob API. Looks like they use a single "Name" field
* One-off mail via Pitney Bowes SendPro. Looks like Name is a single field too, nice:
<img width="481" alt=" 2021-08-29 at 08 28 52" src="https://user-images.githubusercontent.com/74739/131256025-ff7653b5-b688-42f8-9f0a-dfd2c6d99cc2.png">
* Interopera

[2021-08-30 12:35] #105 closed

[2021-08-31 08:41] suveshmoza commented on #133
I think we should use [react-phone-number-input](https://github.com/catamphetamine/react-phone-number-input) for this.

[2021-08-31 12:29] #128 closed

[2021-08-31 12:34] audreyfeldroy opened #147 "Billing not set up for Google Maps API Key"
When you go to https://helpafamily.margaritahumanitarian.org/electronics-gifting-cities you see "For development purposes only" overlaid on the whole map.

According to https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=billing#api-key-and-billing-errors it's because billing needs to be set up in the Google Console.

[2021-08-31 15:57] marekrozmus commented on #125
@audreyfeldroy should we close this one - mine PR didn't do exactly what is written here but made this configurable.

[2021-08-31 21:20] RedFox0x20 commented on #147
Has this been fixed? I don't see the "For development purposes only" warning.

[2021-09-02 13:04] audreyfeldroy opened #150 "Add GuideStar Seal of Transparency"
GuideStar gave us this widget to add to all our websites:

[code]

Add it to the footer however you think looks good, perhaps centered at the bottom. Consider using the Next.js [Image component](https://nextjs.org/docs/api-reference/next/image) and [Link component](https://nextjs.org/docs/api-reference/next/link).

[2021-09-02 17:40] RaphaelGC7 commented on #1
Thank you very much @audreyfeldroy, it is ok, I will be looking forward to contribute in another issue.

Thanks for your advise, I will proceed accordingly.

[2021-09-02 19:00] Akshansh99 commented on #150
Hi @audreyfeldroy!
Can I work on this issue?

[2021-09-03 14:30] audreyfeldroy commented on #150
Sure, go for it!

[2021-09-03 14:31] audreyfeldroy commented on #125
Yes, sorry forgot to close this! Thanks @marekrozmus 👍

[2021-09-03 14:31] #125 closed

[2021-09-03 20:46] RaphaelGC7 commented on #14
I would like to work in the footer of the page, this would help in SEO and improve navigation a little bit. May I ?

[2021-09-04 08:53] theflucs opened #155 "Dockerize app"
Hi everyone,
I just forked the repo and looking forward to contribute.

The first thing I personally did was to add Dockerfile and docker-compose.yml to keep it in its own container and work safer.
Do you guys think it would be better to have it as a stander for the app?

If so I create a pull request.
Let me know,
Thanks and keep up the good work!
:smiley:

[2021-09-04 10:33] RedFox0x20 commented on #155
Hello @theflucs Please feel free to create the PR, this project houses a variety of skill levels and different knowledge about the technologies in use and available. It would be beneficial to have the PR there so we can read what the changes are and maybe contain some of the pros and cons of this sort of system. I.E. Does it work with existing infrastructure with ease etc.

[2021-09-04 22:42] #132 closed

[2021-09-04 22:42] #133 closed

[2021-09-04 22:42] #134 closed

[2021-09-05 00:00] #155 closed

[2021-09-05 00:01] audreyfeldroy commented on #150
Thanks again @Akshansh99!

[2021-09-05 00:01] #150 closed

[2021-09-05 00:04] audreyfeldroy opened #157 "Add Docker installation option to CONTRIBUTING.md"
Now that #156 added a Dockerfile and docker-compose.yml to the project, let's document how to use it for new contributors who prefer to set up the project via Docker:

@theflucs want to take this? 😄

[2021-09-05 00:06] audreyfeldroy commented on #157
Looks like GitHub doesn't let me assign this to you @theflucs, but this is yours if you want it.

[2021-09-05 01:56] audreyfeldroy commented on #64
I think the code is starting to get complex enough that we need docs on ReadTheDocs. Contributors are starting to get overwhelmed and need additional guidance, and CONTRIBUTING.md isn't enough in my experience running big open source projects.

If anyone wants to help with the documentation effort, come discuss it in https://app.element.io/#/room/#mhf:matrix.org 😃

[2021-09-05 16:54] audreyfeldroy commented on #64
I've set up docs with GitBook at https://audreyfeldroy.gitbook.io/help-a-family-manual/

* The Markdown files used to generate that are at https://github.com/margaritahumanitarian/helpafamily-manual

GitBook likes to have full control over file locations...I was hoping to set it up with our existing `docs/` folder, but it moved around the images and broke the main site.

I'm open to other document

[2021-09-05 16:57] audreyfeldroy opened #159 "Move items from docs/ into helpafamily-manual"
Move our documentation folder to our new helpafamily-manual repo. Specifically, this means moving items:
* From https://github.com/margaritahumanitarian/helpafamily/tree/main/docs
* To https://github.com/margaritahumanitarian/helpafamily-manual

[2021-09-06 04:37] pydanny opened #162 "Add captcha to give-device form"
**What should we change and why?**

Will prevent our DB from getting filled with junk

[2021-09-06 07:51] audreyfeldroy opened #163 "Set up GitHub action to run ESLint on PRs"
I believe ESLint runs as part of the build on Vercel, which isn't viewable to contributors unless we add them to the Vercel team at $20/user.

It would be nice to add a GitHub action that runs ESLint separate from the Vercel build, so that:
- contributors can see the ESLint build log
- ESLint failures block the Vercel deploy preview

[2021-09-06 09:34] vincentrohde commented on #163
@audreyfeldroy If you don't mind I would love to implement this 👍

[2021-09-06 11:45] RedFox0x20 commented on #162
Additionally it may be worth adding a Captcha to the `MainDonationForm` to prevent potential API abuse causing rate limiting recognising that it would be necessary to have some form of check be passed to `useStripeSession.js` to prevent it being requested directly and bypassing the captcha.

[2021-09-06 15:34] pydanny opened #165 "Document how to set up firebase for form submissions"
Documented very lightly in #161, needs expansion in CONTRIBUTING.md.

[2021-09-06 15:38] pydanny opened #166 "Email receipt donations"
Upon submission of funds or devices we should be emailing receipts. Ideas for email vendors:

- Sendgrid has a cheap/free plan
- Mailgun has a cheap/free plan
- MHF already has a Google account but setting it up might be harder

We will need to run in some kind of test mode for email so most developers don't accidentally trigger sending of email.

[2021-09-06 15:41] RedFox0x20 commented on #163
Hi @vincentrohde thanks for your interest, please feel free to implement the above and submit a PR, there is currently the `.github/workflows/format.yml` action that handles some of this but it may be the case that it is not setup correctly to handle new PRs. I have assigned this issue to you.

[2021-09-06 16:02] #157 closed

[2021-09-07 04:18] pydanny opened #167 "Convert donate devices backend from Firebase to Supabase"
Supabase is open source, meaning if necessary we can host it ourselves.

[2021-09-07 10:04] suveshmoza commented on #14
#168

[2021-09-07 15:26] audreyfeldroy commented on #96
I think they got busy. @sre-harine this is yours to work on if you'd still like! Otherwise just unassign yourself.

[2021-09-07 15:31] audreyfeldroy commented on #14
@RaphaelGC7 Hey, sorry I just saw your comment. I just merged in some really nice footer design work by @suveshmoza, and you're welcome to iterate on it with your ideas if you'd like.

[2021-09-07 15:59] audreyfeldroy opened #172 "Create a VolunteerCard component"
We're starting to run into use cases where different card types need different structure. As part of a larger refactor, we could use help with the first step of separating out VolunteerCard from Card:

- [ ] Break up `<Card>` into `<Card>` and `<VolunteerCard>`
- [ ] For `<VolunteerCard>` provide a `<PositionRequirements>` field that takes a bulleted list.
- [ ] Refactor `DoctorsAsVolunteers.js` t

[2021-09-07 16:59] audreyfeldroy commented on #163
Hey, thanks @vincentrohde for offering to help, and thank you @RedFox0x20 for providing starting guidance. We could definitely use help here.

Here's some further guidance to help you with this issue @vincentrohde...

Currently the GitHub action runs only on pushes to main, see lines 3-4:
https://github.com/margaritahumanitarian/helpafamily/blob/main/.github/workflows/format.yml#L3-L4

@marekrozmu

[2021-09-07 17:32] sre-harine commented on #96
I will takeover this work

[2021-09-07 20:27] vincentrohde commented on #163
Hey @audreyfeldroy I think I found a good solution for the issue, regarding blocking the Vercel deploy preview, if ESLint fails. It only requires a small change in the settings of the [Vercel app](https://github.com/apps/vercel).

If you go to your https://vercel.com/{{ your team }}/helpafamily/settings page and change the `Build Command` setting to:

<img width="1433" alt="vercel-settings" src="h

[2021-09-07 21:10] vincentrohde commented on #163
Thank you @audreyfeldroy for making me aware of this fork PR issue. I currently have a basic ESLint action setup that allows the user to see the ESLint logs.

I found a way to run ESLint when Vercel tries to deploy. This will block the deploy preview until the first commit is pushed, that successfully runs ESLint. It is fairly easy to setup. In your Vercel project settings you just have to update

[2021-09-08 17:12] sre-harine commented on #96
As you have mentioned, I tried putting the card images above the card text, and made the card text dark. It improves readability and is in sync with the site background, but the card size became big. Is that okay?

[2021-09-08 17:13] sre-harine commented on #96
As you have mentioned, I tried putting the card images above the card text, and made the card text dark. It improves readability and is in sync with the site background, but the card size became big. Is that okay? @audreyfeldroy

[2021-09-08 17:36] RedFox0x20 opened #176 "Card hover animation performance"
When hovering over the Cards on the main page while scrolling, sometimes some stutter occurs. We can see in the graph below that the CPU usage on `Render` Jumps up rapidly to 75-100%
![image](https://user-images.githubusercontent.com/40431512/132556988-45257e6c-c2e9-47d7-81d2-b2adc91f98c0.png)

 Additionally this animation feels potentially optional, as it moves the text around,  I personally stru

[2021-09-08 17:45] RedFox0x20 commented on #96
@sre-harine The best way for review is to create a Pull Request, that way the Vercel bot will automatically-generate a preview that we can see in addition to providing easy viewing of your changes. While viewing your changes we can then see what might be causing problems and provide you with the best possible feedback and contribution experience. :smiley:

[2021-09-08 19:13] pydanny commented on #176
If anyone wants to submit a PR correcting the cards I'll review it ASAP.

For what it's worth, I like the work done by @theflucs on the cards, but respect that other people may find it distracting or the text harder to read.

[2021-09-08 21:20] theflucs commented on #176
Sorry to hear that, I didn't think about the performance as it is a very simple css transition offered by Tailwind and personally I find it quite smooth to use on my computer. But we can definitely look into it and, in the meanwhile,  just remove the Tailwind classes responsible for the effect.
What do you think?
Sorry again

[2021-09-09 01:18] pydanny commented on #176
@theflucs, No need to apologize! These kinds of issues happen all the time. In fact, it's on me as one of the maintainers of this repo for not using GitHub Actions to perform speed testing, or really any tests at all. So if anyone should be apologizing it is me: I'm sorry for not having the right infrastructure in place to support you. 🙏🏻

Going forward we should add tests to look for this kind of

[2021-09-09 09:29] marekrozmus commented on #172
@audreyfeldroy Could we just add `<PositionRequirements>` component to `<Card>` component? There is no difference in usage of `<Card>` and `<VolunteerCard>` components so I think it will be mainly code duplication.
I mean if we'll have `<VolunteerCard>` that will be same as `<Card>` then what is the difference between:
[code]
and

[code]
? Or am I missing something 🙂

[2021-09-09 09:31] RedFox0x20 commented on #172
@marekrozmus I was also thinking that -- It does seem a bit unnecessary unless there were to be specific styling changes that needed to be made, however given the implementation in #174 I don't believe it would be necessary?

[2021-09-09 09:38] marekrozmus commented on #172
@RedFox0x20 I would go only with following:
[code]
as the `<VolunteerCard>` does not have anything additional.

[2021-09-09 10:12] RedFox0x20 commented on #172
I agree with that, the extra element serves no purpose unless some styling differences were desired. I believe @theflucs has just followed what is highlighted in the issue here, however given the implementation is unnecessary. There is a time where this would be ideal (such as the requirements being passed as an array from where the elements are generated entirely from json) however the implementa

[2021-09-09 11:58] marekrozmus opened #178 "Use clsx where needed"
We could use this package [clsx](https://www.npmjs.com/package/clsx) to simplify `className` building.

[2021-09-09 12:57] marekrozmus opened #179 "Use react-icons package for svg icons"
We are currently have hardcoded at least 2 svgs I know of ;) -> in navbar.

Maybe we could use something from here [react-icons] (https://react-icons.github.io/react-icons/)?

[2021-09-10 05:07] #172 closed

[2021-09-10 05:14] #176 closed

[2021-09-10 12:14] audreyfeldroy commented on #163
Wow, thank you @vincentrohde for exploring this and providing so much detail!

I've sent you an invite to our Vercel team so you can experiment there if you'd like.

Your solution of running `eslint . --fix && npm run build` on Vercel is very creative! (Side note, for us it would be `yarn build`) I feel a bit funny about running `eslint . --fix` on the deploy previews, but it is a possible solutio

[2021-09-10 12:16] audreyfeldroy commented on #163
Here are the Actions settings on the repo:

![01 Actions permissions](https://user-images.githubusercontent.com/74739/132851939-a74b304a-0036-46cf-8d82-23b2aadc40a1.png)
![02 Runners](https://user-images.githubusercontent.com/74739/132851948-c7f43381-8474-43a4-afd7-1f624fc46b43.png)

[2021-09-10 12:18] audreyfeldroy commented on #163
It looks like this is already set:

[2021-09-10 12:20] audreyfeldroy commented on #165
Thanks @pydanny ❤️
FYI all, this might not be necessary if #167 happens

[2021-09-10 12:26] audreyfeldroy commented on #147
The warning appears for me. @ozer619 doesn't see the warning on his side. I suspect it's country-specific.

[2021-09-10 12:30] audreyfeldroy commented on #147
I'm holding off on adding billing while the page is still in development since funding is still tight (temporarily, working on that). We still need to figure out the next steps with the map anyway 🙂

[2021-09-10 15:18] vincentrohde commented on #163
Hey @audreyfeldroy, from what I have seen, the issue with fork PRs not being able to run actions, seems to be built deliberately by Github.

_This is a mitigation against the possibility that a bad actor could open PRs against your repo and do things like list out secrets or just run up a large bill (once we start charging) on your account._

https://github.community/t/run-a-github-action-on-pull-

[2021-09-10 15:24] vincentrohde commented on #163
@audreyfeldroy Does it work with the approval of workflows on forks? It seems this whole fork+workflows thing is still not really implemented by Github/ Microsoft at the moment. I think the approval option would be great, so the reviewer can check the changes for suspicious code first. Blindly running foreign code without any check seems too risky to be honest.

Ideally, the reviewer could check t

[2021-09-10 15:30] RedFox0x20 commented on #163
@vincentrohde Thanks for providing some more info into this!

@audreyfeldroy From what Vincent has provided here it would suggest to me that the best course of action would be to get the users to perform linting where necessary and provide assistance where they are unable to do so. I will take another look at the `PULL_REQUEST_TEMPLATE` feature of GitHub and attempt to get it working correctly wit

[2021-09-10 15:53] marekrozmus commented on #163
@vincentrohde I dig to the same stuff when trying to set up action for prettier. My guess is that the best solution would be to add `husky` and `lint-staged` and do that linting stuff before code is pushed to repository.

[2021-09-10 16:19] vincentrohde commented on #163
@marekrozmus I think you're right. At my work the linting is also handled via Git hooks.
@audreyfeldroy @RedFox0x20 If you don't mind I would be happy to implement a solution that uses hooks for linting 👍

[2021-09-10 16:29] RedFox0x20 commented on #163
@vincentrohde I like the idea of git hooks, not sure how portable they are though? Do they apply to the repository and get shared through? I've never really used them before, but I have seen similar things in use before so definitely could be a suitable option if easily applied to forks etc.

[2021-09-12 09:40] Sahil-101 commented on #179
I would like to try working on this issue.

[2021-09-12 16:53] #179 closed

[2021-09-13 06:09] #178 closed

[2021-09-13 06:14] audreyfeldroy opened #187 "High-conversion standard landing page?"
Reading https://unbounce.com/landing-page-examples/high-converting-landing-pages/ I think it would be nice to create a simple landing page.

The card pages would still be accessible from the nav, but the homepage would be simpler with the standard hero section.

I'm still trying to figure out what the best call-to-action in the hero section would be. Open to ideas about what would be most motivati

[2021-09-14 03:36] audreyfeldroy opened #188 "Add Discord link to README"
Now that we have a Discord server, it would be nice to let contributors know.

[2021-09-14 03:37] LowLifeArcade commented on #188
Hi I'd like to work on this Discord issue.

[2021-09-14 03:43] #188 closed

[2021-09-14 05:16] LowLifeArcade commented on #187
I can help this this!

[2021-09-14 08:31] RedFox0x20 commented on #187
@LowLifeArcade I have assigned this too you! Welcome to the project and thanks for the assistance!

[2021-09-17 16:11] sre-harine commented on #96
#193

[2021-09-17 19:41] RedFox0x20 opened #194 "Correct and Improve `PULL_REQUEST_TEMPLATE`"
Currently we have `.github/PULL_REQUEST_TEMPLATE/pull_request_template.md` however I don't believe this has been put in the correct format, it may be necessary to format the data similar to the `.github/ISSUE_TEMPLATE/<some_template>.md` files using the following yaml
[code]

However it may also be that this system only works as a part of the automation using the Query parameter.

Self assigned wh

[2021-09-17 20:01] RedFox0x20 commented on #194
Having played around with this feature it appears to primarily be a part of the automation system and as such isn't suitable for all GitHub users, to use the template requires a URL in the format:
`https://github.com/<repository_owner>/<repository>/compare/<target_branch>...<user>:<user_branch>?template=<template_name>.md&expand=1`

Additionally the template would not require the yaml as used in i

[2021-09-19 15:10] audreyfeldroy opened #196 "Add all countries to laptop donation form"
https://www.countries-ofthe-world.com/all-countries.html has a list of all countries of the world.

Modify the laptop donation form dropdown to include all countries. This will save us time with manually adding countries as inquiries come in.

[2021-09-20 02:10] pydanny opened #197 "Create pull request template"
**What should we change and why?**

Per @audreyfeldroy:

[2021-09-20 02:12] #194 closed

[2021-09-20 10:35] RedFox0x20 commented on #197
Regards a PR Template, please see #194

[2021-09-20 16:34] marekrozmus opened #198 "Add code coverage service to PRs"
**What should we change and why?**
Add code coverage statistics for every PR so that we see if added code is tested or not.
We could use https://about.codecov.io/ or https://coveralls.io/ or any other you know of :)

[2021-09-22 05:16] Sahil-101 commented on #196
I would like to work on this issue.

[2021-09-22 05:19] ozer619 commented on #196
Great @Sahil-101, let us know if you need any help .

[2021-09-22 05:35] ozer619 opened #199 "Github token not being set for Pullrequests"
It seems like the lighthouse GitHub token only works when there is a merge, in case of pull requests it doesn't work (complains GitHub token not set ).

[2021-09-22 18:20] #2 closed

[2021-09-24 10:04] #196 closed

[2021-09-25 19:22] audreyfeldroy opened #202 "Replace favicon.ico with the MHF logo"
- [ ] Download and install [Inkscape](https://inkscape.org/), OptiPNG, and ImageMagick
- [ ] Download and open [MHF-Color.svg](https://github.com/margaritahumanitarian/media-kit/blob/main/logo-full-color/MHF-Color.svg) in Inkscape.
- [ ] Use Inkscape to export the file as PNG (Ctrl + Shift +E) in the sizes required by the .ico file per https://github.com/audreyfeldroy/favicon-cheat-sheet#ico-file

[2021-09-28 03:16] LowLifeArcade opened #203 "404 page needs to be responsive"
### Problem
The 404 page is not responsive creating issues on smaller devices.

### Solution
The design should be `display: block` or `flex-direction: column` on smaller resolutions.

### Proposed Solution
Since Tailwind is a mobile first framework, the flex container might be best used only after a certain size. Example: `md:flex`

This would be a great first issue for someone to get involved!

[2021-09-28 12:55] vincentrohde commented on #203
@LowLifeArcade I would be happy to fix this 👍

[2021-09-28 18:09] harishfalco commented on #203
Can I fix this @vincentrohde and send a PR to you?

[2021-09-28 20:02] #163 closed

[2021-09-28 21:40] LowLifeArcade commented on #203
Hey guys, so I'm going to assign @vincentrohde to this as he did ask first. @harishfalco There are, however, many things to be done! Come over to our [Discord](https://discord.gg/E8z9yj36cv) and say hi and we can talk further. Both of you are welcome.

[2021-09-28 22:10] LowLifeArcade opened #205 "Our Discord Link is broken"
### Our README needs your help 🆘

We have an expired invite link to our Discord and need to update it with this one https://discord.gg/E8z9yj36cv. It would be helpful also to check the other links as well.

[2021-09-29 03:53] Jayita10 commented on #205
Can I work on this issue?

[2021-09-29 04:51] siddhantkhariwal commented on #205
Hey, can I fix this issue?

[2021-09-29 14:58] #202 closed

[2021-09-29 15:15] LowLifeArcade commented on #205
Hey guys, I've assigned this to @siddhantkhariwal. @siddhantkhariwal we have many more issues coming that you can work on. Join our [Discord](https://discord.gg/Ss4xUSHGXU) and join our discussions!

[2021-09-29 15:40] Jayita10 commented on #205
Thank you @LowLifeArcade for assigning me. I have opened a PR. Please review 😃

[2021-09-29 16:44] LowLifeArcade opened #208 "Sitewide Height Layout Standard"
### Footer And Content Relationship

The site can use some work on the `PrimaryLayout` component to produce predictable behavior in the way content relates to the footer. Currently, on higher resolutions, the `Footer` floats below where the content stops. It should be done with `Tailwind` utility classes. This [question](https://stackoverflow.com/questions/47925751/how-to-fill-the-height-of-the-vi

[2021-09-29 17:18] LowLifeArcade opened #210 "Firefox Not Displaying Favicon"
### Favicon Not Displaying in FIrefox

Currently the favicon works for Chrome, Edge, and Safari.
Firefox displays nothing in the tab.

**What did you expect to happen?**

[2021-09-29 18:20] RedFox0x20 commented on #210
Cause of problem -- Favicon links within Firefox:
[code]

Firefox shows that it is attempting to `GET`  the `favicon-16x16.png` this file does not exist. A solution to this would be to remove all of the links to favicons that are not available from the [_document.js file on line 56](https://github.com/margaritahumanitarian/helpafamily/blob/0c6ae41c018dbdf6aa2b05c2ab5879cf5989c038/pages/_document.j

[2021-09-30 05:37] Sahil-101 commented on #208
I would like to work on this.

[2021-09-30 10:42] mktSuWin commented on #210
Hi @RedFox0x20 and @LowLifeArcade , I am Su, first year CS student. May I work on this issue? Thanks.

[2021-09-30 10:49] ozer619 commented on #210
Geat!! @mktSuWin let us know if you need any help.

[2021-09-30 16:29] RedFox0x20 opened #212 "Perform a dependency update"
Could you please check the result of command:

`yarn why ansi-regex`

[code]

Maybe it would be better to update the dependency we are using  and not fixing the dependency of dependency ;)?

Please try update our dependencies and see if problem still exists :)

_Originally posted by @marekrozmus in https://github.com/margaritahumanitarian/helpafamily/pull/204#pullrequestreview-767130935_

[2021-09-30 17:03] LowLifeArcade commented on #210
Yes, absolutely @mktSuWin! And thank you for your input @RedFox0x20 🥳 I'm sure this will help a lot.

[2021-09-30 22:19] LowLifeArcade commented on #208
This is some fun frontend stuff @Sahil-101 😆

[2021-10-01 06:03] pri1311 opened #214 "[BUG] Nav bar absent in mobile view"
Navbar is absent for mobile view

**Steps to reproduce**
Open website on a mobile or a smaller screen (iPad)

**What did you expect to happen?**
Navigation in mobile view for ease of navigation.

[2021-10-01 22:25] RedFox0x20 commented on #214
Please provide screenshots of this behaviour, I am unable to replicate this issue.

((Self assigned))

[2021-10-02 01:46] #203 closed

[2021-10-02 02:33] GeraAlcantara commented on #205
Please close the issue if is complete

[2021-10-02 05:29] OussamaSALAHOUELHADJ commented on #136
Hey do you mean a submit button that submits the form?

[2021-10-02 08:16] #205 closed

[2021-10-02 08:17] Aniket762 commented on #212
Hey @RedFox0x20 I am interested can you please assign this to me?

[2021-10-02 08:22] Aniket762 opened #216 "Add PWA with offline support"
**What should we change and why?**
Adding PWA support, a progressive web application is a type of application software delivered through the web, built using common web technologies including HTML, CSS and JavaScript. It is intended to work on any platform that uses a standards-compliant browser, including both desktop and mobile devices. Adding PWA with offline support will help users access the

[2021-10-02 09:01] RedFox0x20 commented on #212
Sure thing @Aniket762

[2021-10-02 16:14] Aniket762 commented on #212
Hey, @RedFox0x20 I am on it. Just wondering if I should add `dependabot.yml` for weekly or monthly module updates?

[2021-10-02 16:38] #187 closed

[2021-10-02 17:33] ozer619 commented on #214
![Screenshot from 2021-10-02 22-50-11](https://user-images.githubusercontent.com/51698593/135726406-ecdd877b-a507-408d-8dd8-b7a4e01a478f.png)

@RedFox0x20 I found this bug too the navbar is not visible after some resolutions around 632x761

[2021-10-02 17:40] RedFox0x20 commented on #214
After discussion in discord we have recognised that the issue is simply an issue of expected vs implemented behaviours.

Expected behaviour was some form of menu such as a burger menu, however this has not been implemented yet.

Suggested action:
Close this issue and create a new issue to discuss different menu types which could be used on smaller devices to maintain all navbar functionality.

[2021-10-02 17:47] RedFox0x20 commented on #212
Currently an issue like this shows up on occasion, primarily if something new is added which isn't very often. Updates could also lead to issues if a module has updates that aren't backwards compatible.

As an alternative it would be nice to produce a set of instructions for updating modules and proper testing procedures.

[2021-10-02 18:42] Aniket762 commented on #212
Hey, @RedFox0x20 I have created pull request #220 please review it. I have updated `ansi-regex` and other testing packages and verified the code doesn't break and solves the issue. Let me know the changes will be more than happy to work on it.

[2021-10-03 06:34] #216 closed

[2021-10-03 11:43] akshitarora921 commented on #214
Can I work on this? I will build a basic hamburger menu and then we can iterate over that.

[2021-10-03 11:45] akshitarora921 commented on #162
Hi, Can I work on this?

[2021-10-03 13:50] RedFox0x20 commented on #162
Sure thing @akshitarora921 I will assign this too you.

TIA.

[2021-10-03 15:29] audreyfeldroy opened #225 "Refactor long lists of Tailwind classes to use Tailwind’s @apply"
From https://tailwindcss.com/docs/extracting-components:

I think this would help us organize our code better. I recommend 1 PR for each `@apply` directive refactor, to keep PRs small and make them easier to review. The first one will be the hardest as it may involve some configuration.

[2021-10-03 15:40] #198 closed

[2021-10-03 16:07] devstra commented on #225
Hi, I'd like to work on this if that's okay.

[2021-10-03 16:22] devstra opened #226 "Rename DoctorsAsVolunteers.js file"
**What should we change and why?**

Rename `DoctorsAsVolunteers.js` file to `DoctorsAsVolunteersCard.js` to follow the same naming convention as the other Card components defined like `HealthWorkshopCard`or `HotMealDayCard`. I know I'm being picky here, just a thought.

[2021-10-03 16:28] audreyfeldroy commented on #226
Don't worry about being picky or suggesting anything too small: this is a great issue @devstra! The more little issues like this, the easier it is for new contributors to get started. File as many issues like this as you can, please 😄

@devstra Would you like me to assign this to you, or to anyone in particular? Or would you prefer to leave it open for a new contributor?

[2021-10-03 16:33] devstra commented on #226
Thank you @audreyfeldroy ! Since this is no pressing matter, let's leave this for someone else that would like get involved. I'll check back in a few days and "fix" this issue if no one else is interested though.

[2021-10-03 16:41] audreyfeldroy commented on #225
Great, this one is yours @devstra!

[2021-10-03 17:12] audreyfeldroy commented on #214
Sure @akshitarora921! Since I see suggestions/votes to close this issue and start anew, I'd say the first step is to create an issue if you need help figuring out the strategy, or a PR as proposal if you want to start with code demonstrating your idea.

I'll be around in [our Discord server](https://discord.gg/aGuWx7QE) for the next hour or so if anyone needs help 🙂

[2021-10-03 18:15] akshitarora921 opened #228 "Hamburger navbar for mobile view"
We need to add a separate nav bar for the mobile view which will be hidden in desktop view.

**Please list any other [issues](https://github.com/margaritahumanitarian/helpafamily/issues) this may be related to**
- #214

[2021-10-03 18:40] Anmol55555 commented on #226
Please accept my pull request for this given issue.

[2021-10-04 04:38] pydanny opened #234 "Remove "Our #mhf chat room on Element" from README"
We're no longer using that forum, all discussions have been moved to discord.

[2021-10-04 04:45] harshalkh commented on #234
I can work on this

[2021-10-04 11:33] harshalkh commented on #234
@pydanny please have look at PR #235 which resolves this issue

[2021-10-04 15:45] #208 closed

[2021-10-04 15:49] Sahil-101 opened #240 "Navbar responsiveness [BUG]"
**What happened?**
Issue in responsiveness of Navbar in website.

**Steps to reproduce**
1. Open the website in google chrome or any other browser go into to Inspect section change the width size of the website to around 1300 pixels some text got overlapped, and if you decrease to 1000 pixels some gap is present at the right.
![image](https://user-images.githubusercontent.com/54836805/135878714-28

[2021-10-04 15:51] #234 closed

[2021-10-04 16:15] TueNguyen2911 commented on #240
I'd like to work on this, please. Thank you!

[2021-10-04 17:58] audreyfeldroy commented on #240
Hi, thanks for documenting and filing this @Sahil-101 @LowLifeArcade!

@TueNguyen2911 heads up that @akshitarora921 is working on a related issue in #228...I recommend holding off until @akshitarora921 is done submitting that PR to avoid merge conflicts. In the meantime if you'd like, ask for guidance in https://discord.gg/HAeyn8Bf and we can point you at some newbie-friendly issues 🙂

[2021-10-04 18:58] TueNguyen2911 commented on #240
Thank you, I will wait for the PR

[2021-10-05 17:30] enoralecuyer opened #244 "[BUG] Typos on the "Donate Your Old Electronics to Families in Need" Form"
**What happened?**
I've noticed two typos on the "Donate Your Old Electronics to Families in Need" Form.

**Steps to reproduce**
Access the form: Homepage > Laptop For Families > Donate > Google Form

**What did you expect to happen?**
1. I suggest writing 'Middle Name' instead of 'Middle'.
![middle name](https://user-images.githubusercontent.com/48727972/136072831-212da61a-3ba6-42ed-a800-75e61648

[2021-10-05 18:41] enoralecuyer opened #245 "[UX/UI] Hard to read yellow email address on grey background"
**What happened?**
The email address for the 'Electronics Drop-Off Box' is yellow on a grey background, which makes it hard to read.

**Steps to reproduce**
Homepage > Electronics Drop-Off Box > Email

**What did you expect to happen?**
I suggest to use the same color (main color) and font used for the address '1543 E Palmdale Blvd, Ste E, Palmdale, CA 93550' for the 'Hygiene Kits'.
![email us](ht

[2021-10-05 18:50] enoralecuyer opened #246 "[BUG] The 'Thank you' page not responsive on mobile"
**What happened?**
The bottom of the 'Thank You' page is not responsible on mobile and gets cropped.

**Steps to reproduce**
1. Go to https://helpafamily.margaritahumanitarian.org/thank-you
2. Select the Mobile View from the console of your browser or open it from your phone

**What did you expect to happen?**
I would expect the three blocks of text a)Receipt to Follow, b)About Our Donation Softwa

[2021-10-05 18:55] enoralecuyer opened #247 "[BUG] Text on Footer gets pushed to a second line too early"
**What happened?**
On Desktop view, the text on the footer gets pushed to a second line too early, as the footer is divided in two equal blocks.

**Steps to reproduce**
1. Homepage
2. Footer

**What did you expect to happen?**
I would expect the block to take 3/4 of the footer, as the icons on the right of the footer are small, which would allow the text to have enough room to fit in one line.

![

[2021-10-05 18:59] enoralecuyer opened #248 "Adding contact information, copyright, policies and year in the footer"
**What should we change and why?**
It would be helpful for people visiting the website to see the contact information in the footer (email address and/or phone number), as well as the copyright, policies and legal information.

[2021-10-05 19:04] enoralecuyer opened #249 "Create a Call To Action to apply to become a volunteer."
**What should we change and why?**
When people click on 'Give Your Time' and read the 'Doctors as Volunteers' card, they want to be able to contact the organization to offer their time. A Call to Action is missing to allow them to directly contact the organization from this page. For example, we could create a button that says "Apply Now" or "Contact Us".
![volunteer](https://user-images.githubuse

[2021-10-05 19:14] enoralecuyer opened #250 "[BUG] Nav elements not clickable"
**What happened?**
Certain elements of the nav are not clickable, even if they seem to be clickable.
1. The heart and the magnifying glass react when hovering over them, and the cursor changes to a clickable element, but when clicking on them, nothing happens.
2. The title of the organization 'Margarita Humanitarian Foundation' should be a link to the home page.
3. 'Help Families in Need' sounds l

[2021-10-05 19:24] LowLifeArcade commented on #250
This is a good point @enoralecuyer. We have to figure out what to do with these elements.

[2021-10-05 19:28] LowLifeArcade commented on #249
@enoralecuyer Another great point! Anyone who wants to submit a PR with a solution is more than welcome!

[2021-10-05 20:07] LowLifeArcade commented on #244
@enoralecuyer thank you for your suggestion! @audreyfeldroy might be able to help here.

[2021-10-05 20:10] enoralecuyer commented on #245
PR to solve this issue has been sent.

[2021-10-05 20:14] #240 closed

[2021-10-05 20:20] TueNguyen2911 commented on #246
I'd like to work on these please. Thank you!

[2021-10-06 00:40] #247 closed

[2021-10-06 03:11] omarmorales commented on #248
I would like to work on this. Do you have this information already? Can you provide the phone number, email address and also, for this copyright, polices and legal info do you have already a view or I need to create one?

[2021-10-06 11:08] Sahil-101 commented on #246
Sure @TueNguyen2911, do let us know if you need any help.

[2021-10-06 14:26] audreyfeldroy opened #259 "Convert PR Review Checklist to a GitHub PR Template"
GitHub lets you create PR templates: [Creating a pull request template for your repository](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository)

Last night I created a Self-Review Checklist for PR submitters that could probably be used in the PR template.

- [ ] Bring over the Self-Review Checklis

[2021-10-06 16:51] audreyfeldroy opened #261 "Establish visual design style guide in connection with PR Self-Review Checklist"
This issue is about use of consistent visual styles throughout the helpafamily codebase, such as color palette, button design, and other visual uses of CSS.

- [x] Create a Visual Design Style Guide doc in https://app.gitbook.com/@margaritahumanitarian/s/help-a-family-manual/contributing-to-the-repository
- [x] Add 1 or more checklist items to connect the style guidelines with the Self-Review Chec

[2021-10-06 17:44] #259 closed

[2021-10-06 19:33] #249 closed, assigned to ozer550

[2021-10-06 20:54] LowLifeArcade opened #262 "Contentful Integration with Landing Page"
### Implement Contentful API

We want to integrate Contentful throughout the `/landing-page` but we're going to start with just the hero section.

- [ ] Integrate Contentful API into `/landing-page`.
- [ ] Create content model in Contentful backend for the `Large Hero Section` of the landing page.
- [ ] Add Contentful content to `Large Hero Section` of the landing page.

[2021-10-06 22:52] LowLifeArcade opened #263 "500 server error on parter with us page"
**What happened?**
We get a 500 internal server error on Parter With Us page.

**Steps to reproduce**
Using the navbar navigate to `parter with us`.

**What did you expect to happen?**
Expect to see a web page but are presented with a 500 internal server error.

[2021-10-06 23:36] TueNguyen2911 commented on #246
I was gonna work on this but [this commit](https://github.com/margaritahumanitarian/helpafamily/commit/4a3d5ec0039cf0bcf51980397753f2207d916b56) has fixed it using grid layout

[2021-10-07 03:35] Sahil-101 commented on #263
I would look into this @LowLifeArcade.

[2021-10-07 05:35] ozer619 commented on #263
@LowLifeArcade I fixed this bug, seems like all the changes were in the dev branch(Contentful) and the production site fetches the data from the master branch I have reciprocated the required changes in the master branch of contentful and it seems to work now.

[2021-10-07 05:35] #263 closed

[2021-10-07 16:57] #214 closed, assigned to RedFox0x20

[2021-10-07 17:04] LowLifeArcade commented on #210
Hi @mktSuWin. Just checking in on you with this. If you need any help please feel free to ask.

[2021-10-07 17:17] #197 closed

[2021-10-07 17:23] LowLifeArcade opened #265 "[BUG] Images stretching on Card component"
**What happened?**
Images on the card component are stretching.

<img width="786" alt="Screen Shot 2021-10-07 at 10 18 12 AM" src="https://user-images.githubusercontent.com/68655112/136433079-c1953a12-368d-4ee8-b115-83fee19c3d8c.png">

**What did you expect to happen?**
The image should:
- have the css equivalent `object-fit: cover`
- go to the edges of the card the way they currently do
- should

[2021-10-07 17:38] ikurotime commented on #265
Hey! Can I work on this?

[2021-10-07 18:53] IamEzio commented on #248
@LowLifeArcade I would like to work on this issue.
ps. You are doing an awesome job!

[2021-10-07 19:31] #265 closed, assigned to ikurotime

[2021-10-07 19:32] fyvfyv commented on #250
@LowLifeArcade I've added links for the 2 elements.
I guess, it makes sense to do search by title and description of cards...probably it should redirect to the separate page with search results (but I'm not sure). wdyt?

In any case, I'll try to work on the first version of the search on weekends, if nobody does it earlier

[2021-10-07 19:54] fyvfyv commented on #250
@LowLifeArcade Shouldn’t be closed yet 😊

[2021-10-08 19:25] #261 closed

[2021-10-08 19:47] #212 closed

[2021-10-09 13:14] ozer619 opened #272 "Pull request template not working[BUG]"
**What happened?**
Pull request template not working.

**What did you expect to happen?**
While creating a Pull request the Pull request template should auto-fill the description.

[2021-10-09 13:25] RedFox0x20 commented on #272
Please see [this Pull Request](https://github.com/margaritahumanitarian/helpafamily/issues/194#issuecomment-922048113) in regards to how PR Templates work as they do not work the same as an Issue Template would.

#194

[2021-10-09 15:21] #272 closed

[2021-10-10 04:27] Sahil-101 commented on #166
Hey @pydanny, could I work on this thing I have worked previously making a newsletter app with MailChimp. I would like to give it a try.

[2021-10-10 22:15] Selharem opened #275 "Add dark mode"
Hi, I think we should add dark mode to the app. That's gonna be cool!

[2021-10-11 07:46] #262 closed, assigned to ozer550, Sahil-101

[2021-10-11 08:20] LowLifeArcade opened #276 "[🐞] Contentful changes not see on /landing-page"
**What happened?**
Content from Contentful doesn't update on the `/landing-page`

**Steps to reproduce**
1.) 🩳  Visit `/landing-page`
2.) In Contentful, update the landing page content.
3.) 💰

**What did you expect to happen?**
The content should be updated after a few seconds be viewable in the browser.

[2021-10-11 21:40] Selharem commented on #275
@LowLifeArcade sure, thanks!

[2021-10-12 14:50] #276 closed, assigned to ozer550, Sahil-101

[2021-10-12 15:28] LowLifeArcade opened #279 "Mission Statement for /landing-page"
**What should we change and why?**
A mission statement section on the `landing-page` between the hero section and the testimonial section would be a nice addition to the site.

If we look at [not for sale](https://www.notforsalecampaign.org/) the second section has a clear mission statement with a `learn more` button. The button can lead to the "what we do" section of the original page https://www

[2021-10-12 15:30] LowLifeArcade opened #280 "Integrate Contentful into testimonial section of /landing-page"
**What should we change and why?**
The testimonial section currently is hard coded. Let's create a model in Contentful for these cards and integrate the api there.

[2021-10-13 17:26] LowLifeArcade opened #281 "[🪲] Errors in Lighthouse Automated Test"
**What happened?**
Lighthouse fails during yarn install when pre-rendering `/landing-page`.
<img width="974" alt="Screen Shot 2021-10-13 at 10 17 06 AM" src="https://user-images.githubusercontent.com/68655112/137182418-2784a966-0192-4810-bf5e-c586854cc789.png">
<img width="335" alt="Screen Shot 2021-10-13 at 10 16 14 AM" src="https://user-images.githubusercontent.com/68655112/137182478-1c813685-48

[2021-10-14 17:14] LowLifeArcade opened #282 "Create a Laptops for Families program info page"
**What should we change and why?**
We should have an info page for our Laptops for Familes program. It should:

- [ ] be called `laptops-for-families.js` in `pages`
- [ ] have a navbar and footer as layout
- [ ] have a Hero section with image. Something like [this](https://www.notforsalecampaign.org/our-process/)
- [ ] have at least 3 description sections with lorem copy and graphics
- [ ] use col

[2021-10-14 18:41] siddhant-tripathy1 commented on #282
can I work on it?

[2021-10-14 23:44] ehilst515 commented on #279
Can I work on this? If so, is there an existing mission statement, or do I get to write one? 😄 Thanks!

[2021-10-15 15:32] LowLifeArcade opened #284 "Persisting Dark Mode"
**What should we change and why?**
It would be nice if users would be able to have their dark mode settings saved so they have it on return visits and on page refresh.

[2021-10-15 15:40] LowLifeArcade opened #285 "[🐛 ] Theme button conflicts with responsiveness on smaller screens"
**What happened?**
Our awesome new theme button needs some tweaking on smaller screens.

<img width="326" alt="Screen Shot 2021-10-15 at 8 27 47 AM" src="https://user-images.githubusercontent.com/68655112/137514812-1dfe6949-3ac9-438d-994b-52f7db3e8f77.png">

<img width="334" alt="Screen Shot 2021-10-15 at 8 28 02 AM" src="https://user-images.githubusercontent.com/68655112/137514860-6788d83e-996a-4

[2021-10-15 15:49] LowLifeArcade commented on #285
You got it @smily31. Thank you!

[2021-10-15 21:44] #284 closed, assigned to Sahil-101

[2021-10-16 07:43] smily31 commented on #285
Okay

[2021-10-17 01:05] Pixep opened #287 "Listing as meaningful project"
Hey there,

I had a look at your organization and project, and it is looking great :)
We added it to this page, along with other impactful projects: [https://meaningfulcode.org/?cat=humanitarian](https://meaningfulcode.org/?cat=humanitarian)

Let me know if you would prefer not, or if you want to suggest modifications.

Cheers!

[2021-10-18 20:24] #285 closed, assigned to smily31

[2021-10-19 01:30] LowLifeArcade opened #291 "✨ CSS help needed! An information section on home page for Hot Meal Day program"
## **A new section needed**
Our [Hot Meal Day](https://www.margaritahumanitarian.org/upcoming-events#h.3f0nxu3620tm) program is a recurring program in the foundation that should be highlighted on our main page.  For this we need a section below the hero section and above the program cards section.

### Follow our [MHF CSS Guide](https://margaritahumanitarian.gitbook.io/help-a-family-manual/contrib

[2021-10-19 01:53] LowLifeArcade opened #292 "📧✨ Implement Email Capture section on home page"
## **What should we change and why?**
We need an email capture system to follow up with visitors who want to be connected to the foundation. This section should be below the cards section and before the footer.

### Engaging with quizzes

[Number 3](https://www.mailigen.com/blog/how-to-get-email-addresses/) on this list suggests creating an interactive experience. This would create a more app like

[2021-10-19 04:15] Pixep commented on #287
Sounds good, keep up the good work! 🥳
If you or others are working on other impactful projects, feel free to reach out to add them.

Consider this closed, easiest issue ever 😄

[2021-10-19 04:15] #287 closed

[2021-10-19 18:23] #280 closed

[2021-10-20 03:14] LowLifeArcade commented on #292
[Here is the diagram](https://excalidraw.com/#room=4125a725d05b7e38dc3f,db8Z3g2ORBnPaZahX6_AWw) for you guys to work with. Have fun with it and experiment 🥷

[2021-10-20 03:17] LowLifeArcade commented on #281
So the problem seems to be that we're creating a new build during the lighthouse test. This isn't ideal as we're not using the vercel preview build to test with. Next step is to make that the case.

[2021-10-20 06:06] shub78910 commented on #282
Hey, @siddhant-tripathy1 I got stuck at another thing for now, if you like, you can pick this up. Would you?

[2021-10-20 14:35] panchoroo commented on #291
I'm interested in working on this issue

[2021-10-21 11:11] marekrozmus commented on #226
@Anmol55555 Please connect your PR with this issue - more information can be found here:
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2021-10-22 14:57] #282 closed, assigned to nobody

[2021-10-22 20:37] #291 closed, assigned to panchoroo

[2021-10-23 02:10] LowLifeArcade opened #301 "✨ 🐾 CSS help wanted! We need to upgrade our footer"
## **What should we change and why?**
### It's time for an upgrade!

If you feel comfortable with css and want to use your chops to develop from a (loose) design, please join us! Using our [CSS](https://margaritahumanitarian.gitbook.io/help-a-family-manual/contributing-to-the-repository/mhf-css-guide) guidelines you can **expect this to be a back and forth after you submit a PR** to get everything

[2021-10-23 04:09] LowLifeArcade opened #302 "🪄 ✨ CSS help wanted! Info section for home page."
## **What should we change and why?**

### We need another info section!
Implement this new component on the homepage underneath the Hot Meal Day section with the content found in the diagram.

### Component
We need a `ProgramSectionFull` component that:

- [ ] Spans the whole page
- [ ] content has a `max-width` of 1280px
- [ ] has an image section
- [ ] uses `content: open-quote`
- [ ] is respon

[2021-10-23 04:10] #302 closed, assigned to nobody

[2021-10-24 16:52] syauqy opened #304 "[BUG] Hot Meal Day card title color on dark mode"
**What happened?**
When the visitor activates the dark mode.
The title and description inside of the Hot Meal Day card are hidden because the font color doesn't change on the dark mode.

**Steps to reproduce**
1. Click the dark mode button on the navbar
2. You will see the Hot Meal Day card title and description is hidden.
![image](https://user-images.githubusercontent.com/3627108/138604171-d67f0a

[2021-10-25 21:30] #301 closed, assigned to akshitarora921

[2021-10-26 00:08] #304 closed, assigned to nobody

[2021-10-26 16:17] Abhijay007 opened #311 "Idea suggestion : Add call on click functionality !!"
**What should we change and why?**

Add click to call functionality on the number mentioned in the footer !! as it may helpful for the visitor to directly make a phone call if you want to contact.

![Screenshot (3)](https://user-images.githubusercontent.com/64387054/138919315-677c6c2c-690e-4de0-9f75-42cfc34b3d8b.png)

[2021-10-26 19:52] LowLifeArcade opened #313 "🌐 ✨ We ran Lighthouse and we have some performance issues"
**What should we change and why?**

### Lighthouse

[Our Lighthouse score](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fhelpafamily.margaritahumanitarian.org%2F) isssss, okay. We can use some performance and accessibility adjustments. It's import for web vitals that we implement these changes. Help us out!

### Some examples

<img width="751" alt="Screen Shot 2021-10

[2021-10-27 03:41] LowLifeArcade opened #318 "[🐞 ] The Hot Meal Section probably shouldn't look like this"
**What happened?**
At higher resolutions the sections stretches (keeps in vh setting).

<img width="1417" alt="Screen Shot 2021-10-26 at 8 41 12 PM" src="https://user-images.githubusercontent.com/68655112/138996157-49ba823f-6f0e-4843-8024-832a18efcfeb.png">

<img width="712" alt="Screen Shot 2021-10-26 at 8 37 00 PM" src="https://user-images.githubusercontent.com/68655112/138996032-e22c17d3-7255-4

[2021-10-27 04:27] #123 closed, assigned to nobody

[2021-10-27 05:58] #318 closed, assigned to nobody

[2021-10-27 11:09] Sahil-101 opened #323 ":crescent_moon: Slight variation in dark view"
**What happened?**
There is a color difference between the Footer when we toggle to dark theme
![Screenshot from 2021-10-27 16-16-44](https://user-images.githubusercontent.com/54836805/139054010-a0da5438-f9b0-4a63-8872-99cdc5c150fb.png)

**Steps to reproduce**
1. Open the helpafamily homepage and toggle dark theme.

**What did you expect to happen?**
Color theme should be as seen in CardsSection a

[2021-10-27 17:44] #311 closed, assigned to Abhijay007

[2021-10-28 15:10] #323 closed, assigned to djrobin17

[2021-10-29 18:22] Abhijay007 opened #329 "idea : Add contributors list in the readme !!"
**What should we change and why?**

Add contributors list to the readme file so that every new visitor can see active number of contributors and existing contributors as well in the project !!

Display It something like this at the end of the readme :

![image](https://user-images.githubusercontent.com/64387054/139483788-0c9d309f-93f6-4ebf-a9f6-6a2bdc04e3aa.png)

[2021-10-29 18:23] Abhijay007 commented on #329
Can i work on this ?

[2021-10-30 11:04] kaushik3pg commented on #16
Hi,

I opened a PR against this issue , [https://github.com/margaritahumanitarian/helpafamily/pull/330].
Could you please review it or get it reviewed.
I will really appreciate the feedback.

Thanks and regards,
Piyush Kaushik

[2021-10-30 15:13] LowLifeArcade commented on #329
Sure @Abhijay007! Thank you 🙏

[2021-11-05 15:15] LowLifeArcade commented on #313
Looks like we're mostly caught up with one little change that we have to do after we have a new page built, so I'm going to close this issue.

<img width="837" alt="Screen Shot 2021-11-05 at 8 14 38 AM" src="https://user-images.githubusercontent.com/68655112/140534029-e78b1c64-8ae7-4d3b-bcde-a61ec81f5318.png">

[2021-11-05 15:15] #313 closed

[2021-11-09 18:50] #279 closed

[2021-11-09 18:51] LowLifeArcade commented on #199
This issue is not applicable to our current ci/cd workflow.

[2021-11-09 18:51] #199 closed

[2021-11-09 22:06] LowLifeArcade opened #337 "⚡️ 🏠 📄 ⚡️ Donation Component"
### Hero Section Donation Component

We currently have a component there now. We want to take the code from that component and **create a new one** that takes in the name, email and amount to pre populate the stripe page that comes up after clicking donate.

### Component Styling

Recreate the design from the [Figma File](https://www.figma.com/file/nLwxUWpunk8SgvjVpyE2gd/MHF-Boards?node-id=0%3A1).

[2021-11-09 22:46] LowLifeArcade opened #338 "⚡️ 🏠 📄 ⚡️ Hot Meal Day Section"
**What should we change and why?**

We want to spruce it up. In the [Figma File](https://www.figma.com/file/nLwxUWpunk8SgvjVpyE2gd/MHF-Boards?node-id=0%3A1) we add a background which you will export as an svg to implement. Also, there are some detail changes with the buttons and a new font for the `quote`.

<img width="1440" alt="Screen Shot 2021-11-09 at 1 52 27 PM" src="https://user-images.githu

[2021-11-09 23:48] LowLifeArcade opened #339 "⚡️ 🏠 📄 ⚡️ Large Info Section component with animation"
### Large Info Section

Using the [Figma Design File](https://www.figma.com/file/nLwxUWpunk8SgvjVpyE2gd/MHF-Boards?node-id=0%3A1) to put together a reusable component called `Large Info Section`. This component will have animation that brings the text into view when the component is scrolled into view using [intersection observer](https://medium.com/@cristinallamas/intersection-observer-vs-eventli

[2021-11-10 00:00] LowLifeArcade opened #340 "⚡️ 🏠 📄 ⚡️ Card Carousel component"
### Card Carousel component

We want to replace the current card section with a scrolling carousel from the [Figma Design File](https://www.figma.com/file/nLwxUWpunk8SgvjVpyE2gd/MHF-Boards?node-id=0%3A1). Whoever gets assigned should be in communication as developing this to discuss how to integrate certain sections. For instance the buttons should only appear when either hovering on the card, or

[2021-11-10 00:04] LowLifeArcade commented on #292
Hi @participator. Sorry for not responding to you. Yes, this is finished, but if you want to get involved, join our Discord! You can find the link in our readme.

[2021-11-10 00:04] #292 closed

[2021-11-10 00:13] LowLifeArcade opened #341 "⚡️ 🏠 📄 ⚡️ Update visuals of Email Capture and Survey components"
### Email Capture section update

Use the [Figma Design file](https://www.figma.com/file/nLwxUWpunk8SgvjVpyE2gd/MHF-Boards?node-id=0%3A1) to update the look of the components of the Email Capture and Survey components. Currently this section is found on the `/landing-page`. After we get it looking good, we'll implement it on the home page.

<img width="1440" alt="Screen Shot 2021-11-09 at 1 54 11

[2021-11-10 03:48] akshitarora921 commented on #338
@LowLifeArcadeCan I take this?

[2021-11-10 03:50] akshitarora921 commented on #340
@LowLifeArcade Can I take this?

[2021-11-10 05:01] LowLifeArcade commented on #340
You got it @akshitarora921 :) This will be a detailed one.

[2021-11-10 05:02] LowLifeArcade commented on #338
We'll do one at a time @akshitarora921. Let's see who else can pick this one up.

[2021-11-10 05:04] akshitarora921 commented on #340
@akshitarora921 Will try my best 🤖

[2021-11-10 05:09] LowLifeArcade commented on #340
You're very smart @akshitarora921. I trust you.

[2021-11-10 05:12] akshitarora921 commented on #338
@LowLifeArcade Sure

[2021-11-10 06:00] Sahil-101 commented on #339
Hey @LowLifeArcade could I work on this?

[2021-11-10 06:17] Sahil-101 commented on #337
Hey, @LowLifeArcade small suggestion maybe we should also add the cause like in previously and make it a dropdown so it shouldn't conflict with your design.

[2021-11-10 07:43] LowLifeArcade commented on #339
Yeah @Sahil-101 definitely!

[2021-11-10 07:47] LowLifeArcade commented on #337
Thanks @Sahil-101 for the recommendation! Actually, for this component in the hero section, we want a general donation component that will default to `all` causes. We will leave the specific donations to the cards section and later the program pages we will create.

[2021-11-10 13:16] Sahil-101 commented on #337
Oh, yeah that makes sense :+1:

[2021-11-15 19:02] Sahil-101 opened #343 "Extra horizontal space on our website"
**What happened?**
* Overflow of content horizontally and extra space present.
* Bug observed in browsers: Google Chrome, Firefox, Brave. Operating System Ubuntu 20.10.
 Screen Resolution > 2088*600
![Screenshot from 2021-11-16 00-22-59](https://user-images.githubusercontent.com/54836805/141838008-438e235f-bf58-42bf-97c1-cd9b9c916d17.png)

**Steps to reproduce**
1. Open [Help a family main website

[2021-12-02 20:33] LowLifeArcade commented on #339
Hey @Sahil-101. How's it going? Just checking in on you with this. :)

[2021-12-02 23:41] zac618 commented on #343
I am 100% a newbie but would love to fix this one!

Believe I know what needs adjusted if you want to assign this to me...if that's how this works?

[2021-12-06 15:07] #343 closed

[2021-12-06 15:54] akshitarora921 commented on #338
@LowLifeArcade 👀

[2021-12-10 18:20] #338 closed

[2021-12-11 19:52] #341 closed

[2021-12-14 11:11] akshitarora921 commented on #339
@LowLifeArcade I can work on this, If @Sahil-101 says

[2021-12-15 21:14] trujillo9616 commented on #166
Is this issue resolved? If not, I could try to solve it! 😁

[2021-12-17 21:56] LowLifeArcade commented on #166
Hi @trujillo9616. Sorry, the issue is being worked on. It's just taking a little longer than we thought. Join our [Discord](https://discord.gg/WsmqrcGqyE) and see what's going on! Maybe some discussions can lead to something for you.

[2021-12-20 21:41] #339 closed

[2022-01-14 10:05] Adhiraj10 commented on #337
May I work on this if no one else is currently working on it?

[2022-01-14 18:16] LowLifeArcade commented on #337
@Adhiraj10 Yeah, for sure! Have fun :)

[2022-02-08 17:41] IhsenBen commented on #66
is this issue still open?

[2022-02-09 12:16] idiglove opened #351 "Ability for radio buttons to revert"
**What should we change and why?**
In homepage, after clicking all the radio buttons there's no way for user to go back to previous state which is to choose certain categories only. Is this intended?

If you want the ability to revert, I can work on this

![image](https://user-images.githubusercontent.com/29911508/153198481-1d77bc0e-f76d-4275-bb29-44bd2afa71a2.png)

[2022-02-09 12:32] ozer550 commented on #351
Hi @idiglove, thanks!! for reaching out this looks like a good UI update idea to me, @LowLifeArcade what do you think about it?

[2022-02-09 22:24] LowLifeArcade commented on #351
Hey @idiglove, yeah it's totally something you can work on! Thanks @ozer550 for addressing this 🏑

[2022-02-18 20:39] asaidimu opened #356 "Use of Semantic Versioning and Conventional commits."
I would suggest that you improve code management by enforcing the two specifications. i.e [Semantiv Versioning](https://semver.org/) and [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/)

[2022-02-27 17:06] vorayash opened #357 "One can able to figure out that he in on which endpoint from navbar"
**What should we change and why?**
In the navbar if I click on particular component then I am not seeing which component is active right now.
If you want this effect, I can work on this

![Screenshot 2022-02-27 223624](https://user-images.githubusercontent.com/72155000/155892063-a9f2bec9-516d-4855-8b24-7957c1a5390f.jpg)

[2022-03-02 17:54] NADS-PROGRAMMER opened #358 "Set the font size of card's paragraph from 14px to standard size 16px."
The reason for it is it is too small for small screen sizes and it has too much white space.
- #358

[2022-03-02 18:28] NADS-PROGRAMMER opened #359 "Squeezed size of text field"
Change the layout of email input fields when the screen size is a minimum of 1024px.

The reason for that is it is too small for the size of 1024.

I also notice that the paragraph has too much padding, both left, and right which is a little bit off for alignment of the layout.

Here's the photo of it.

![Screenshot 2022-03-03 at 02-22-07 Help a family through Margarita Humanitarian Foundation](ht

[2022-03-03 22:17] mayanhavoc commented on #359
Can I be assigned this issue?

[2022-03-04 10:38] NADS-PROGRAMMER commented on #359
Hello sir, what do you mean assigning this issue? sorry I am still not yet familiar with it.

[2022-03-04 17:35] mayanhavoc commented on #359
I'm new too, no worries. As far as I understand, you have to be assigned issues in order to work on them so as not to duplicate efforts.

https://www.freecodecamp.org/news/how-to-contribute-to-open-source-projects-beginners-guide/

[2022-03-05 02:41] NADS-PROGRAMMER commented on #359
Sir, do you mean putting a label on it?

[2022-03-05 18:04] mazkaaa commented on #357
Hi, I'd like to work on this issue, is this issue still open?

[2022-03-06 15:16] prajapati55 commented on #358
Hi NADS,
I would love to do work on this issue.

[2022-03-08 04:39] YTeyddie22 opened #360 "Spacing out the side -bar navigation and introduce some transition"
I think it would be a nice UX if a user clicks on the menu icon and the side-bar items transition in a well spaced out way.

- #360

[2022-03-08 08:33] mazkaaa commented on #360
Hi, I'd like to work on this idea. Can you provide the screenshot for this side-bar things and explain "well spaced out way" in details/references? thanks!

[2022-03-09 02:05] YTeyddie22 commented on #360
![Screenshot (258)](https://user-images.githubusercontent.com/69068114/157358134-266491e2-cc65-4f7c-88aa-263b2446b769.png)

[2022-03-09 02:09] YTeyddie22 commented on #360
that is the side-bar. am thinking if spacing it a little more and introducing a way of transitioning them so that they ease in and out  will make it a little bit nice

[2022-03-09 02:11] YTeyddie22 commented on #360
spacing out in a way they are not closely compacted as they are

[2022-03-09 18:46] YTeyddie22 commented on #360
Feel free to do it  :-)

[2022-03-11 08:30] NADS-PROGRAMMER commented on #358
Alright <3

On Sun, Mar 6, 2022 at 11:17 PM Pravendra Prajapati <
***@***.***> wrote:

[2022-03-11 08:31] NADS-PROGRAMMER commented on #359
Alright <3

On Sat, Mar 5, 2022 at 1:35 AM Roberto M ***@***.***> wrote:

[2022-03-11 19:46] #360 closed

[2022-03-12 05:41] mazkaaa commented on #360
what....

[2022-03-13 05:08] siuting0511 opened #363 "Fix "https://helpafamily.margaritahumanitarian.org/" Laptops for families "learn more" link."
**What should we change and why?**

The button is not correctly linked to "laptops for families" page but to "Hot meal day" page, I would like to contribute to fix it.

[2022-03-16 21:54] LowLifeArcade commented on #363
You got it!

[2022-03-16 21:55] LowLifeArcade commented on #359
Hey @mayanhavoc you got it :)
Thank you @NADS-PROGRAMMER for bringing this up.

[2022-03-16 21:57] LowLifeArcade commented on #358
It's all yours @prajapati55 ✨

[2022-03-16 21:59] #351 closed

[2022-03-16 22:00] LowLifeArcade commented on #337
This is still open if anyone wants to work on it!

[2022-03-17 02:59] #363 closed

[2022-03-21 22:11] LowLifeArcade commented on #357
@PanagiotisAnthoulis I will submit a visual mock up for you to follow soon.

[2022-03-21 22:12] LowLifeArcade commented on #357
Hi @mazkaaa. So sorry there was no response to your request! If you'd like to do work on the app, we'll definitely have things open for you and others soon!

[2022-03-21 22:16] #358 closed

[2022-03-21 22:18] LowLifeArcade commented on #356
Interesting suggestion @asaidimu. Thank you for your insight!

[2022-03-21 22:30] LowLifeArcade opened #367 "🧪 ✨"
**What should we change and why?**
Thank you @idiglove for adding test coverage to the `Card` component. We could use more! If you want to contribute to getting the code base test coverage to 100%, please join in 🦖

Check out #354 for an example.

[2022-03-21 22:38] LowLifeArcade opened #368 "🧪 🐞 💥 Build Error From Card Test Coverage `Snap Shot`"
**What happened?**

We get this build error in our CI/CD running the github test coverage report.

[code]

**Steps to reproduce**
1. Unfortunately you won't see this error as it's only viewable by maintainers, but you may be able to reproduce it locally.

**What did you expect to happen?**
Build should complete to run Test Coverage report

[2022-03-21 22:38] LowLifeArcade commented on #368
@idiglove perhaps you can help here!

[2022-03-22 02:53] LowLifeArcade commented on #368
I remade the sanpshot and that seemed to work. Though it generates random css classes so not sure if this will stay working.

[2022-03-22 03:43] idiglove commented on #368
Hmm, yarn test -- -u, should make it work. I wonder what the random css classes are

[2022-03-22 04:57] LowLifeArcade commented on #368
I believe that is what tailwind does when it renders.

[2022-03-22 04:58] LowLifeArcade commented on #368
It seems to be working. I'll reopen this issue if we have the problem pop back up.

[2022-03-22 04:58] #368 closed

[2022-03-26 11:39] FranciscoBastos commented on #367
Hi,

My colleague Ana Rita and I are students at masters in software engineering at FEUP (https://paginas.fe.up.pt/~estudar/mesw/). As part of evaluating one of the curriculum units, we need to choose an open-source project and fix an issue. We would like to know if we could help with this issue?

[2022-03-26 17:42] LowLifeArcade commented on #367
Hi @FranciscoBastos. Yes, absolutely! You and Ana can choose a component (or other parts of the codebase) and go from there with your testing! Try to keep your PRs limited to one piece of code or a single component. And have fun!

[2022-03-29 01:55] adriandotdev opened #371 "[BUG]"
The "Laptop for Families is off when it is on 746 screen width or tablet size"

1. Start on a desktop screen sizes
2. Resize the screen up to mobile and you will see this:

![Screen Shot 2022-03-29 at 09 48 40](https://user-images.githubusercontent.com/63532775/160516557-a0ca3e1a-0066-4774-b0cd-60366b547b9e.png)

I expected this to happen is even on mobile, it is still also visible and properly al

[2022-03-29 02:05] adriandotdev commented on #359
You're welcome @LowLifeArcade :)

[2022-03-29 02:33] adriandotdev opened #372 "Hot Meal Day section"
My suggestion is to consistently set the layout of this section as a column so that it is not shrunk every 1024px screen size.
Also, make the line that divides the two-paragraph also have the same color as other lines on sections that can be found across the page to maintain the consistency of designs. I also notice that the padding is too much and the alignment is getting off.

Here's the screens

[2022-04-21 08:39] FranciscoBastos commented on #367
Hi, @LowLifeArcade, could you assign me to the issue then? @RitaVeiga and I would like to take this issue!

[2022-04-22 17:09] LowLifeArcade commented on #367
You got it @FranciscoBastos!

[2022-05-10 18:11] FranciscoBastos commented on #367
Hi @LowLifeArcade me, and @RitaVeiga are getting the following error when running the tests, do you know how can we fix it?
![Captura de ecrã 2022-05-10, às 7 08 21 PM](https://user-images.githubusercontent.com/44166746/167694675-a1e9f5f8-e78d-4421-bb7d-3de16e189d0c.png)

[2022-05-12 14:01] junaidn commented on #359
@mayanhavoc Are you still working on that ?

[2022-05-15 12:44] FranciscoBastos commented on #367
Hi, @LowLifeArcade @RitaVeiga and I have already been able to run the tests, and we have also written some test scripts. They are selenium test scripts that test the front-end of the application. They consist of E2E integration testing, and I think it was a reasonable effort on a first approach. We will keep updating the test suit so you can reach 80% of coverage!

[2022-05-20 17:45] nebulahh commented on #337
please in what file is this ```Hero Section Donation Component```

[2022-05-24 14:58] FranciscoBastos commented on #372
Hi,

My colleague Ana Rita and I are students at masters in software engineering at FEUP (https://paginas.fe.up.pt/~estudar/mesw/). As part of evaluating one of the curriculum units, we need to choose an open-source project and fix an issue. We would like to know if we could help with this issue?

[2022-05-25 01:08] adriandotdev commented on #372
Good day. May I ask if you know how to do a pull request?

[2022-05-25 07:24] FranciscoBastos commented on #372
Good morning,
Yes, we know how to make a pull request. We think we have a fix to the issue. Can we make the pull request?

[2022-05-25 07:40] adriandotdev commented on #372
Alright sure. No problem. Thanks for considering it.

[2022-07-07 01:16] DavidHunterJS commented on #371
Hi @adriandotdev,
Is this up for grabs? I'd love to contribute on this.

[2022-08-13 06:38] MisterMunchkin opened #375 "yarn install failed during docker-compose build"
**What happened?**
yarn install failed when running docker-compose build, but running yarn install manually works fine

**Steps to reproduce**
1. run `docker-compose build`

**What did you expect to happen?**
To yarn install successfully

**What happened instead?**
Getting this error
[code]

Is this possibly because Dockerfile does mkdir home/node/app and that directory doesn't have a .git initial

[2022-09-26 10:29] carkod opened #377 "[BUG] Is this project still available"
**What happened?**
Not helpafamily.margaritahumanitarian.org or https://www.margaritahumanitarian.org/ work. Is the project still actively maintained?

[2022-10-01 13:44] thisisamish commented on #16
Hey, is this still open? Can I work on it?

[2022-10-09 06:05] shriya-tiwari commented on #14
I would like to add an moving underline feature below the texts on the button when hovered. Can i go ahead?

[2022-10-19 03:29] participator commented on #377
Agree with @carkod.  The site is down.  Is this expected?  Do you need developers to fix the open issues?